.ContentItems {
    padding: 10px;
}

.ContainerItem {
    padding: 5px;
    text-align: center;
    max-width: 400px;
    margin: auto;
}

.ContainerItem span {
    display: none;
}

.ContainerItem button {
 font-size: small;
 width: 100px;
 height: 50px;
 border-radius: 25px;
 padding: 0;
}

.AdminAction {
    color: var(--blue);
    font-weight: 700;
    padding: 20px 0;
}

.FillError {
    color: var(--red);
    font-size: small;
    font-weight: 400;
    max-width: 180px;
    margin: auto;
    padding: 2px;
}

/* .ChangePassword {
    text-align: center;
    cursor: pointer;
}

.ChangePassword:hover {
    text-decoration: underline;
} */