.Container {
    width: 210px;
    box-shadow: 1px 0px 6px 0px var(--gray);
    margin: 10px;
    border-radius: 20px;
    display: inline-flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: space-between;
    text-decoration: none;
    flex-shrink: 0;
    overflow: hidden;
}

.Container:hover .Title {
    background: var(--green);
}

.Title {
    height: 100px;
    overflow: hidden;
    color: var(--blue);
    background: var(--white);
    padding: 10px;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: left;
}

.NontitleWrapper {
    display: flex;
    /* height: 120px; */
    background: var(--blue);
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-end;
    flex-grow: 1;
}

.ItemCount {
    overflow-x: auto;
    font-weight: 400;
    font-size: large;
    color: var(--green);
    text-align: center;
    padding-top: 4px;
}

.ItemLabel {
    text-align: center;
    color: var(--white);
    font-size: small;
    /* padding-bottom: 10px; */
}

.DateLabel {
    color: var(--green);
    font-size: small;
    font-weight: 400;
    text-align: center;
    padding: 10px;
}

.DescLabel {
    color: var(--green);
    font-size: small;
    font-weight: 400;
    text-align: center;
    /* padding: 10px; */
}