.AddFeedbackInfo {
    color: var(--green);
    font-weight: 400;
    padding: 5px;
    font-size: small;
    display: inline;
}

.ErrorFeedbackInfo {
    color: var(--red);
    padding: 5px;
    font-size: small;
    display: inline;
}

.ContentItems {
    /* display: flex; */
    justify-content: space-around;  
    flex-flow: row wrap;
    text-align: center;
    padding: 10px;
    /* background: lightgray;  */
}

.ContainerItem {
    padding: 5px;
}

/* .ContainerItem span {
    display: none;
} */

.ContainerItem button {
 font-size: small;
 width: 100px;
 height: 50px;
 border-radius: 25px;
 padding: 0;
}

.ContainerItem form {
    max-width: 500px;
    margin: 20px auto;
}

.AdminAction {
    color: var(--darkBlue);
    font-size: x-small;
    font-weight: 700;
}

.FillError {
    color: var(--red);
    font-size: small;
    font-weight: 400;
    max-width: 180px;
    margin: auto;
    padding: 2px;
}