
.FlexContainer {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    background: var(--blue);
}
  
.Youtube {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
    text-align: center;
    margin: 0px;
    padding: 15px 0px;
    text-align: center;
    color: var(--white);
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 2px solid var(--blue);
}

.YoutubeIcon {
    fill: var(--white);
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.Active {
    border-bottom: 2px solid var(--green) !important;
    color: var(--green) !important;
}

.IconActive {
    fill: var(--green) !important;
}

.Youtube:hover {
    cursor: pointer;
    color: var(--green);
    border-bottom: 2px solid var(--green);
}

.Youtube:hover svg {
    fill: var(--green);
}

.Mooc {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
    text-align: center;
    margin: 0px;
    padding: 15px 0px;
    text-align: center;
    color: var(--white);
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 2px solid var(--blue);
}

.MoocIcon {
    fill: var(--white);
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.Mooc:hover {
    cursor: pointer;
    color: var(--green);
    border-bottom: 2px solid var(--green);
}

.Mooc:hover svg {
    fill: var(--green);
}

.All {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
    text-align: center;
    margin: 0px;
    padding: 15px 0px;
    text-align: center;
    color: var(--white);
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 2px solid var(--blue);
}

.AllIcon {
    fill: var(--white);
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.All:hover {
    cursor: pointer;
    color: var(--green);
    border-bottom: 2px solid var(--green);
}

.All:hover svg {
    fill: var(--green)
}

.Book {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
    text-align: center;
    margin: 0px;
    padding: 15px 0px;
    text-align: center;
    color: var(--white);
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 2px solid var(--blue);
}

.BookIcon {
    fill: var(--white);
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.Book:hover {
    cursor: pointer;
    color: var(--green);
    border-bottom: 2px solid var(--green);
}

.Book:hover svg {
    fill: var(--green)
} 

@media (max-width: 450px) {
    .All {
        flex-direction: column;
        padding: 5px;
    }

    .AllIcon {
        margin: 0;
    }


    .Youtube {
        flex-direction: column;
        padding: 5px;
    }

    .YoutubeIcon {
        margin: 0;
    }

    .Mooc {
        flex-direction: column;
        padding: 5px;
    }

    .MoocIcon {
        margin: 0;
    }

    .Book {
        flex-direction: column;
        padding: 5px;
    }

    .BookIcon {
        margin: 0;
    }
}
