
.FlexContainer {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    /*background: var(--skyBlue);*/
}


.FlexContainer h5 {
    margin: 0px;
    /*background-color: #74be23;*/
    padding: 15px 0px;
    text-align: center;
    color: var(--skyBlue);
}
  
.Youtube {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
    text-align: center;
    /*background: var(--red);*/
    background: var(--darkBlue);
    border-right: 1px solid var(--blue);
    margin: 0px;
    /*background-color: #74be23;*/
    padding: 15px 0px;
    text-align: center;
    color: var(--skyBlue);
    /* font-size: small; */
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: center;
}

.YoutubeIcon {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    background-image: url(../../assets/images/youtube.svg);
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    background-size: 100%;
}

.Active {
    border-bottom: 2px solid var(--green);
}

.Youtube:hover {
    cursor: pointer;
    color: var(--green);
}

.Mooc {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
    text-align: center;
    /*background: #828efc;*/
    background: var(--darkBlue);
    border-right: 1px solid var(--blue);
    margin: 0px;
    /*background-color: #74be23;*/
    padding: 15px 0px;
    text-align: center;
    color: var(--skyBlue);
    /* font-size: small; */
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: center;

}

.MoocIcon {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    background-image: url(../../assets/images/mooc.svg);
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    background-size: 100%;
}

.Mooc:hover {
    cursor: pointer;
    color: var(--green);
}

.All {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
    text-align: center;
    /*background: #74be23;*/
    background: var(--darkBlue);
    border-right: 1px solid var(--blue);
    margin: 0px;
    /*background-color: #74be23;*/
    padding: 15px 0px;
    text-align: center;
    color: var(--skyBlue);
    /* font-size: small; */
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: center;
}

.AllIcon {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    background-image: url(../../assets/images/layer-group.svg);
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    background-size: 100%;
}

.All:hover {
    cursor: pointer;
    color: var(--green);
}

.Book {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
    text-align: center;
    /*background: var(--skyBlue);*/
    background: var(--darkBlue);
    margin: 0px;
    /*background-color: #74be23;*/
    padding: 15px 0px;
    text-align: center;
    color: var(--skyBlue);
    /* font-size: small; */
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: center;

}

.BookIcon {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    background-image: url(../../assets/images/book.svg);
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    background-size: 100%;
}

.Book:hover {
    cursor: pointer;
    color: var(--green);
}

@media (max-width: 450px) {
    .All {
        flex-direction: column;
        padding: 5px;
    }

    .AllIcon {
        margin: 0;
    }


    .Youtube {
        flex-direction: column;
        padding: 5px;
    }

    .YoutubeIcon {
        margin: 0;
    }

    .Mooc {
        flex-direction: column;
        padding: 5px;
    }

    .MoocIcon {
        margin: 0;
    }

    .Book {
        flex-direction: column;
        padding: 5px;
    }

    .BookIcon {
        margin: 0;
    }
}
