/* .YourCollection {
    color: var(--green);
    background: var(--blue);
    padding: 15px;
    text-align: center;
    font-weight: 400;
    font-size: small;
} */

.ContainerItem {
    padding: 5px;
    text-align: center;
    max-width: 400px;
    margin: auto;
}

.HeaderWrapper {
    display: flex;
    flex-wrap: wrap;
    background: var(--blue);
}

.TitleColumn {
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
}

.Title {
    padding: 14px;
    overflow-x: auto;
    color: var(--green);
    font-weight: 400;
}

.OptionsColumn {
    padding-right: 5px;
    margin: auto;
}

.PinIconRow {
    width: 40px;
    height: 40px;
    display: inline-block;
    box-sizing: border-box;
    vertical-align: middle;
    cursor: pointer;
    text-align: center;
    font-weight: 400;
    background-image: url('../../../assets/images/thumbtack.svg');
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    background-size: 50%;
    transform: rotate(45deg);
}

.PinIconRow:hover {
    background-image: url('../../../assets/images/thumbtack-focus.svg');
    transform: rotate(0deg);
}

.PublicTag {
    font-size: x-small;
    font-weight: 700;
    padding: 5px;
    border-radius: 10px;
    background: var(--skyBlue);
    color: var(--blue);
    display: inline-block;
    margin: 10px;
}

@media( max-width: 380px) {
    .Title {
       width: 200px;
    }
}