.Button {
    border-style: none;
    width: 100%;
    padding: 13px;
    margin-top: 10%;
    font-size: 17px;
    font-weight: 700;
    color: #0b0f33;
    cursor: pointer;
    opacity: 1;
    border-radius: 30px;
}

.Button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
    background-color: rgb(133, 133, 133);
}

.Success {
    background-color: #8ee630;
}

.Danger {
    color: #944317;
}