
.Button {
    border-style: none;
    width: 150px;
    height: 50px;
    cursor: pointer;
    margin-top: 10%;
    border-radius: 25px;
    /* padding: 16px 4px; */
    font-size: large;
    font-weight: 700;
    text-decoration: none;
    box-shadow: 6px 3px 12px 0px rgba(0, 40, 120, .35);
    transition: all 0.5s ease;
  }
  
  .Button:hover {
    box-shadow: none;
    background-position: 0 0;
  }

.Button:disabled {
    color: var(--blue);
    cursor: not-allowed;
    background-color: var(--lightBlue);
    border: 1px solid var(--blue);
    background-image: none;
    background-position: 100% 0;
}

.Success {
    background-color: var(--darkBlue);
    background-image: linear-gradient(45deg, var(--skyBlue) 0%, var(--skyBlue) 55%, var(--blue) 90%);
    background-position: 100% 0;
    background-size: 200% 200%;
    color: var(--white);
    /* border: 2px solid var(--skyBlue); */
}

.Danger {
    color: var(--blue);
}