/* use the .Container clas below for 
a colored unlimited width fixed toolbar  */
/* .Container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 90;
    background-color: var(--blue);
} */

.Container {
    width: 100%;
    background-color: var(--green);
    z-index: 90;
    position: relative
}

.Toolbar {
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    /* background: var(--green); */
    padding: 10px;
}

.LogoContainer {
    /* padding-right: 120px; */
    flex: 0 0 30%;
    max-width: 30%;
    display: flex;
    justify-content: center;
}

.ToolBarLogo {
    display: block;
    width: 200px;
    height: 100%;
}

.Toolbar nav {
    height: 100%;
}

@media (max-width: 900px) {
    .LogoContainer {
        flex: 0 0 40%;
        max-width: 40%;
    }
}

@media (max-width: 600px) {
    .ToolBarLogo {
        width: 160px;
        height: 100%;
    }

    .Toolbar {
        padding: 0 16px;    
    }
}

.DesktopOnly {
    flex: 0 0 40%;
    max-width: 40%;
    display: flex;
    justify-content: flex-start;
}


@media (max-width: 900px) {
    .DesktopOnly {
        display: none;
    }

    .LogoContainer {
        padding-right: 0;
    }
}


