.Container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 90;
    /* background-color: #070a2b;  */
    background-color: var(--darkestBlue);
}

.NewSearchContainer {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
  }

.Toolbar {
    height: 70px;
    width: 100%;
    /* background-color: #0b0f33; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 0 20px; */
    box-sizing: border-box;
}

.Widgets {
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    align-items: center;
}

.Toolbar nav {
    height: 100%;
}

.Logo {
    margin-right: 10px;
}

.Logo a {
    display: block;
}

.SearchBar{
    width: 45%;
    position: relative;
}

.MobileSearchBar {
    margin-bottom: 6px
    /* border-bottom: solid 1px #66cc00; */ 
}

@media (min-width: 550px) {
    .MobileSearchBar {
        display: none;
        padding: 0;
    }

}

@media (max-width: 550px) {
    .DesktopOnlySearchbar {
        display: none;
    }

    .Toolbar {
        height: 50px;
        padding-top: 5px;
    }

}


@media (max-width: 875px) {
    .DesktopOnly {
        display: none;
    }

}


