.Container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 90; 
}

.Toolbar {
    height: 70px;
    width: 100%;
    background-color: #0b0f33;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    box-sizing: border-box;
}

.Widgets {
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    align-items: center;
}

.Toolbar nav {
    height: 100%;
}

.Logo {
    height: 60%;
}

.SearchBar{
    width: 45%;
    position: relative;
}

.MobileSearchBar {
   
    background-color: #0b0f33;
    border-bottom: solid 1px #66cc00; 
}

@media (min-width: 760px) {
    .MobileSearchBar {
        display: none;
        padding: 0;
    }

    .Toolbar {
        border-bottom: 1px solid #8ee630;
    }
}


@media (max-width: 760px) {
    .DesktopOnly {
        display: none;
    }

}


