/* .Container {
    width: 100%;
    border-bottom: 1px solid var(--gray);
    z-index: 90;
    position: relative
} */

.Toolbar {
    width: 100%;
    border-bottom: 1px solid var(--gray);
    z-index: 90;
    position: relative;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding: 0 16px;
}

.LogoContainer {
    flex: 0 0 30%;
    max-width: 30%;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    padding: 0;
}

.ToolBarLogo {
    display: block;
    width: 200px;
    height: 100%;
}

.DesktopOnly {
    flex: 0 0 40%;
    max-width: 40%;
    display: flex;
    justify-content: flex-start;
    margin: 0;
    padding: 30px;
    list-style: none;
    flex-flow: column-reverse;
    align-items: center;
    height: 100%;
    box-sizing: border-box;
}

@media (min-width: 901px) {
    .DesktopOnly {
        flex-flow: row nowrap;
        padding: 0px;
    }
}

@media (max-width: 900px) {
    .LogoContainer {
        flex: 0 0 40%;
        max-width: 40%;
    }

    .DesktopOnly {
        display: none;
    }

    .LogoContainer {
        padding-right: 0;
    }
}

@media (max-width: 600px) {
    .ToolBarLogo {
        width: 160px;
        height: 100%;
    }

    .Toolbar {
        padding: 0 16px;    
    }

    .LogoContainer {
        flex: 0 0 50%;
        max-width: 50%;
    }
}


