/* use the .Container clas below for 
a colored unlimited width fixed toolbar  */
/* .Container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 90;
    background-color: var(--blue);
} */

.Toolbar {
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    background: var(--green);
    padding: 10px;
}

.LogoContainer {
    padding-right: 100px;
}

.ToolBarLogo {
    display: block;
    width: 200px;
    height: 100%;
}

.Toolbar nav {
    height: 100%;
}

@media (max-width: 600px) {
    .ToolBarLogo {
        width: 160px;
        height: 100%;
    }

    .Toolbar {
        padding: 0 16px;    
    }
}


@media (max-width: 900px) {
    .DesktopOnly {
        display: none;
    }

    .LogoContainer {
        padding-right: 0;
    }
}


