.Description {
    color: var(--blue);
    font-weight: 700;
    text-align: center;
    padding: 8px;
    background: var(--green);

}

.CollectionWrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 10px;
}

.SubjectWrapper {
    background: var(--green);
}