.Container {
    display: flex;
    flex-wrap: nowrap;
    margin: 2px auto;
    border-bottom: 1px solid var(--white);
}

.Container:last-of-type {
    border-bottom: none;
}

.CollectionNameColumn {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-weight: 400;
    overflow: hidden;
    padding-left: 10px;
}

/* .CollectionNameColumn::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 2px;
	background-color: #F5F5F5;
}

.CollectionNameColumn::-webkit-scrollbar
{
    width: 2px;
    height: 2px;
	background-color: #F5F5F5;
}

.CollectionNameColumn::-webkit-scrollbar-thumb
{
	border-radius: 2px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: var(--green);
    box-shadow: inset 0 0 6px rgba(0,0,0,.3);
} */

.CollectionName {
    text-align: left;
    color: var(--green);
    padding: 10px 0;
    /* font-weight: 700; */
}

.CollectionAddButtonColumn {
    /* width: 20px; */
    text-align: center;
    margin: auto; 
    padding: 10px;
    /* background: var(--lightBlue); */
}

.CollectionAddButton {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: var(--white);
    background-image: url('../../assets/images/plus.svg');
    background-position-x: center;
    background-position-y: center;
    background-repeat: no-repeat;
    background-size: 50%;
    cursor: pointer;
    margin: auto;
}

.CollectionAddButton:hover {
    background-color: var(--green);
}