.DialogueTitleHead {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    /* background: var(--lightGray); */
}

.DialogueTitleColumn {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
    text-align: center;
}

.BodyWrapper {
    max-height: 50vh;
    overflow-y: auto; 
}

.BodyWrapper::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 2px;
	background-color: #F5F5F5;
}

.BodyWrapper::-webkit-scrollbar
{
    width: 4px;
    height: 4px;
	background-color: #F5F5F5;
}

.BodyWrapper::-webkit-scrollbar-thumb
{
	border-radius: 2px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: var(--darkBlue);
    box-shadow: inset 0 0 6px rgba(0,0,0,.3);
}

.DialogueTitleColumn h5 {
    margin: 0px;
    background-color: var(--blue);
    padding: 15px 15px;
    text-align: left;
    color: var(--green);
    font-weight: 400;
}

.DialogueCloseIcon {
    width: 50px;
    background-image: url('../../../assets/images/baseline-clear-24px.svg');
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    background-size: 60%;
    cursor: pointer;
}

.DialogueCloseIcon:hover {
    background-color: var(--red);
}

.DialogueMessage {
    padding: 30px 5px;
    text-align: center;
    width: 240px;
    border-radius: 20px;
    background: var(--blue);
    margin: 20px auto;
}

.DialogueMessage div {
    color: var(--white);
    font-weight: 400;
}

.DialogueMessage h4 {
    color: var(--green);
    font-weight: 400;
    overflow-x: hidden;
    margin: 0;
}

.Confirm {
    text-decoration: none;
    color: var(--blue);
    background: var(--white);
    border-radius: 16px;
    font-size: small;
    padding: 10px;
    margin: 20px 10px 0px;
    display: inline-block;
    cursor: pointer;
    font-weight: 700;
}

.Confirm:hover {
    background: var(--green);
}

.Cancel {
    text-decoration: none;
    color: var(--red);
    background: var(--white);
    border-radius: 16px;
    font-size: small;
    padding: 10px;
    margin: 20px 10px 0;
    display: inline-block;
    cursor: pointer;
    font-weight: 700;
}

.Cancel:hover {
    background: var(--red);
    color: var(--white);
}

.DialogueMessage a {
    text-decoration: none;
    color: var(--blue);
    background: var(--white);
    border-radius: 16px;
    font-size: small;
    padding: 10px;
    margin: 10px;
    display: inline-block;
    font-weight: 700;
}

.DialogueMessage a:hover {
    background: var(--green);
}