.DialogueMessage {
    text-align: center;
}

.DialogueMessage form {
    margin: 10px 20px;
}

.DialogueMessage Button {
    margin-top: 10px;
}

.FillError {
    color: var(--red);
    font-size: small;
    font-weight: 400;
    max-width: 180px;
    margin: auto;
    padding: 2px;
}