.toggleWrapper {
    flex: 0 0 30%;
    max-width: 30%;
    display: flex;
    justify-content: flex-start;
}

.SideDrawerToggle {
    width: 28px;
    height: 28px;
    cursor: pointer;
    fill: var(--blue);
}

.SideDrawerToggle:hover {
    fill: var(--green);
}

@media (min-width: 901px) {
    .SideDrawerToggle {
        display: none;
    }

    .toggleWrapper {
        display: none;
    }
}

@media (max-width: 600px) {
    .toggleWrapper {
        flex: 0 0 25%;
        max-width: 25%;
    }

    .SideDrawerToggle {
        width: 24px;
        height: 24px;
    }
}


