.toggleWrapper {
    flex: 0 0 30%;
    max-width: 30%;
    display: flex;
    justify-content: flex-start;
}

.SideDrawerToggle {
    width: 28px;
    height: 28px;
    cursor: pointer;
    fill: var(--blue);
}

.SideDrawerToggle:hover {
    fill: var(--white);
}

@media (min-width: 901px) {
    .SideDrawerToggle {
        display: none;
    }

    .toggleWrapper {
        display: none;
    }
}


