.SideDrawerToggle {
    width: 32px;
    height: 32px;
    cursor: pointer;
    fill: var(--blue);
}

.SideDrawerToggle:hover {
    fill: var(--white);
}

@media (min-width: 900px) {
    .SideDrawerToggle {
        display: none;
    }
}


