.SideDrawerToggle {
    width: 32px;
    height: 32px;
    cursor: pointer;
}

.SideDrawerToggle:hover .SideDrawerToggleBack {
    fill: var(--blue);
}

.SideDrawerToggle:hover .SideDrawerToggleFront {
    fill: var(--green);
}

@media (min-width: 900px) {
    .SideDrawerToggle {
        display: none;
    }
}


