.PostAddInfo {
    padding: 20px;
    font-weight: 400;
    color: var(--green);
    background: var(--darkBlue);
    margin: 10px auto;
    border-radius: 20px;
    max-width: 400px;
    text-align: center;
    overflow: auto;
}

.YourCollection {
    color: var(--green);
    background: var(--blue);
    padding: 15px;
    text-align: center;
    font-weight: 400;
    font-size: small;
}

.CollectionWrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background: var(--green);
    padding: 10px;
}

.Form {
    background: var(--darkBlue);
    padding: 10px;
    margin: 0;
}

.Form label {
    margin-top: 0;
    font-weight: 400;
}