.Description {
    color: var(--blue);
    font-weight: 700;
    text-align: center;
    background: var(--lightGray);
    font-size: 20px;
    padding: 16px;
    margin: 0;

}

.CollectionWrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 10px;
}