.SearchbarToggle {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    box-sizing: border-box;
    cursor: pointer;
    margin: 10px;
    text-align: center;
}

.SearchbarToggle img {
    height: 90%;
    padding-top: 4px;
}

@media (min-width: 550px) {
    .SearchbarToggle {
        display: none;
    }
}