.item {
    margin-bottom: 10px;
    outline: none;
    box-shadow: 1px 0px 6px 0px var(--gray);
}

.item:first-of-type {
    margin-top: 10px;
}

.Title {
    padding: 16px;
}

.Title span {
    font-size: 12px;
    font-weight: 700;
    display: block;
    text-align: right;
}

.Title div {
    text-align: right;
    font-weight: 700;
    color: var(--blue);
    margin-top: 8px;
}

.FeedbackRow {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
    text-align: center;
}

.FeedbackContainer {
    border-top: 1px solid var(--gray);
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    background: var(--white);
    align-items: center;
    justify-content: flex-end;
}

.DetailsColumnFlex {
    display: flex;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
    text-align: center;
}

.OptionFixed {
    text-align: right;
    padding: 5px 10px 5px 0;
    display: flex;
}

.OptionFlex {
    text-align: right;
    padding: 5px 10px;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: center;
}

.ResourceFeedBackError {
    display: flex;
    align-items: center;
    text-align: left;
    overflow-x: hidden;
}

.ResourceFeedBackError span {
    color: var(--red);
    animation: slideRight 0.2s ease-in-out;
    padding: 5px 10px;
    border-radius: 0 10px 10px 0;
    background: var(--blue);
}

.abuseReportsWrapper {
    padding: 10px;
}

.abuseReports {
    max-width: 600px;
    margin: 0 auto;
}

.formWrapper {
    background: var(--blue);
    display: flex;
    justify-content: center;
}

.inputWrapper {
    max-width: 600px;
    flex: 0 0 100%
}

.inputWrapper form {
    margin: 0;
    border-radius: 0;
}

.inputWrapper form label {
    font-size: medium;
    color: var(--green);
}

.inputWrapper button {
    margin-top: 16px;
}

@keyframes slideRight {
    0% {transform:translateX(-50px); }
    100%{transform: translateX(0px);}
}