.latestSection {
    padding: 16px 0;
}

.latestSectionTop {
    margin: 0 16px;
    display: flex;
    /* border-top: 1px solid var(--gray); */
}

.latestSectionSideAd {
    margin: 16px auto;
}

.latestSectionBottomAd {
    width: 100%;
    margin: 32px auto;
    box-sizing: border-box;
}

.adFull {
    width: 728px;
    height: 90px;
    background-position-x: center;
    background-position-y: center;
    background-size: cover;
    background-repeat: no-repeat;
    background: url('../../../assets/art/head-art/ad_728X90.png');
    margin: auto;
}

.adMedium {
    width: 320px;
    height: 100px;
    background-position-x: center;
    background-position-y: center;
    background-size: cover;
    background-repeat: no-repeat;
    background: url('../../../assets/art/head-art/ad_320X100.png');
    margin: auto;
}

.adFullSide {
    width: 300px;
    height: 600px;
    background-position-x: center;
    background-position-y: center;
    background-size: cover;
    background-repeat: no-repeat;
    background: url('../../../assets/art/head-art/ad_ad300X600.png');
    margin: auto;
}

.latestSection figure {
    margin: 0;
}

.latestVideo figure {
    padding-bottom: 56.25%;
    position: relative;
    /* margin-bottom: 16px; */
}

.latestBlog figure a,
.latestVideo figure a {
    display: block;
    height: 100%;
    position: absolute;
    width: 100%;
    background: var(--gray);
}

.latestSection img {
    width: 100%;
}

.latestSection a {
    text-decoration: none;
}

.latestSection figcaption {
    font-size: 10px;
    text-transform: uppercase;
    text-align: right;
    font-family: 'PT Sans', sans-serif;
    bottom: -1.25em;
    position: absolute;
    width: 100%;
    overflow: hidden;
}

.sectionSubhead {
    display: flex;
    justify-content: space-between;
    padding: 8px 0;
    border-bottom: 1px solid var(--blue);
    margin-bottom: 16px;
}

.sectionSubheadTitle {
    font-family: 'Squada One', Impact, 'Arial Narrow Bold', sans-serif;
    text-transform: uppercase;
    color: var(--black);
    font-size: 24px;
}

.sectionSubheadMore {
    font-family: 'PT Sans', sans-serif;
    text-transform: uppercase;
    color: var(--black);
    font-size: 12px
}

.sectionSubhead a:hover {
    color: var(--blue);
}

.latestBlogCategory a {
    /* font-family: 'PT Sans', sans-serif;; */
    font-family: 'Squada One', Impact, 'Arial Narrow Bold', sans-serif;
    color: var(--red);
    font-size: 16px;
    text-transform: uppercase;
    margin-bottom: 8px;
    display: block;
    /* font-weight: bold; */
}

.popularBlogCategory a {
     /* font-family: 'PT Sans', sans-serif;; */
     font-family: 'Squada One', Impact, 'Arial Narrow Bold', sans-serif;
     color: var(--red);
     font-size: small;
     text-transform: uppercase;
     margin-top: 8px;
     display: block;
     /* font-weight: bold; */
}

.popularBlogTitle a:hover, 
.latestBlogTitle a:hover,
.latestVideoTitle a:hover,
.latestPodcastTitle a:hover {
    color: var(--black);
}

.popularBlogTitle a, 
.latestBlogTitle a,
.latestVideoTitle a,
.latestPodcastTitle {
    /* font-family: 'Lalezar', Tahoma, 'Segoe UI', Verdana, sans-serif; */
    /* font-family: 'Baloo', Tahoma, 'Segoe UI', Verdana, sans-serif; */
    font-family: 'Fredoka One', Tahoma, 'Segoe UI', Verdana, sans-serif;
    color: var(--blue);
    text-transform: capitalize;
    line-height: 1;
    display: block;
}

.latestBlogContainer {
    display: flex;
    flex-flow: column;
    flex: 0 0 45%;
    max-width: 45%; 
    padding: 0 16px;
    box-sizing: border-box;
}

.facilitatorContainer {
    display: flex;
    flex: 0 0 25%;
    max-width: 25%;
    flex-flow: column;
    box-sizing: border-box;
    padding-right: 16px;
    /* border-right: 1px solid var(--gray); */
}

.facilitatorBottomContainer {
    display: none;
}

.facilitatorSideContainer {
    display: none;
}

.popularBlogContainer {
    display: flex;
    flex: 0 0 30%;
    max-width: 30%;
    flex-flow: column;
    padding-left: 16px;
    box-sizing: border-box;
    /* border-left: 1px solid var(--gray); */
}

.popularBlogBottomContainer {
    display: none;
}

.latestVideoContainer {
    width: 100%;
    /* border-bottom: 1px solid var(--blue); */
    /* margin-bottom: 16px; */
}

.latestPodcastContainer {
    width: 100%;
}


.latestBlog {
    padding: 16px 0;
    border-top: 1px solid var(--gray);
    box-sizing: border-box;
    display: flex;
}

.latestVideoTitle {
    font-size: 16px;
    padding: 16px 0;
}

/* .latestVideo figure a {
    display: block;
    position: relative;
} */

.playIcon {
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
}

.playIcon svg {
    width: 50px;
    height: 50px;
    fill: var(--white);
    transform: translateY(-50%);
}

.latestVideoLarge {
    display: flex;
    flex-flow: row nowrap;
    border-bottom: 1px solid var(--gray);
    margin-bottom: 16px;
}

.latestVideos1 {
    flex: 0 0 70%;
    max-width: 70%;
    padding-right: 16px;
    box-sizing: border-box;
}

.latestVideos2to3 {
    flex: 0 0 30%;
    max-width: 30%;
}

.latestPodcast {
    padding-bottom: 16px;
    /* border-top: 1px solid var(--gray); */
    box-sizing: border-box;
    /* display: flex; */
}

.latestPodcastTitle {
    font-family: 'PT Sans', sans-serif;
    font-size: 18px;
    padding: 16px 0;
}

.latestPodcastTitle a {
    color: var(--black);
}

.latestPodcastTitle a h3 {
    font-family: 'Fredoka One', Tahoma, 'Segoe UI', Verdana, sans-serif;
    color: var(--blue);
    font-size: 18px;
    text-transform: capitalize;
    line-height: 1;
    margin-bottom: 4px;
}

.latestPodcastTitle a div {
    color: var(--red);
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
}

.latestPodcastTitle a span {
    color: var(--red);
    text-transform: capitalize;
}

.latestPodcast figure div {
    width: 100%;
    padding-top: 100%;
    background-position-x: center;
    background-position-y: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.latestBlogImage {
    flex: 0 0 50%;
    max-width: 50%;
    padding-right: 16px;
    box-sizing: border-box;
}

.latestBlog figure {  
    padding-bottom: 56.25%;
    position: relative;
    margin-bottom: 16px;
}

.latestBlogInfo {
    flex: 0 0 50%;
    max-width: 50%;
}

.latestBlogPublishDate {
    color: var(--black);
    font-family: 'PT sans', sans-serif;
    font-size: 14px;
}

.latestBlog:first-of-type {
    padding-top: 0;
    border-top: none;
}

.latestBlogTitle {
    font-size: 24px;
}

.popularBlog {
    width: 100%;
    display: flex;
    flex-flow: column;
    padding: 16px 0;
    box-sizing: border-box;
}

.popularBlog:first-of-type {
    padding-top: 0;
}

.popularBlogTitle {
    font-size: 20px;
}

.popularBlogTitle span {
    color: var(--red);
    padding-right: 8px;
}

/* .popularBlog figure {
    padding-left: 8px;
} */

.popularBlogImage {
    width: 78px;
    height: 78px;
    background: var(--gray);
    background-position-x: center;
    background-position-y: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.facilitator {
    width: 100%;
    display: flex;
    flex-flow: row;
    padding-bottom: 16px;
    box-sizing: border-box;
}

.facilitator:last-of-type {
    margin-bottom: 32px;
}

.facilitatorName {
    font-family: 'PT Sans', sans-serif;
    font-weight: bold;
}

.facilitatorTitle {
    font-family: 'PT Sans', sans-serif;
}

/* .facilitator figure {
    padding-left: 8px;
} */

.facilitatorImage {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background: var(--gray);
    background-position-x: center;
    background-position-y: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.facilitatorInfo {
    padding-left: 8px;
    margin: auto 0;
}

.seeAll {
    width: 100%;
    text-align: center;
    background: var(--blue);
    color: var(--green);
    font-family: 'PT Sans', sans-serif;
    padding: 10px;
    font-weight: bold;
    cursor: pointer;
    box-sizing: border-box;
}

@media(max-width: 1100px) {
    .facilitatorContainer {
        display: none;
    }

    .facilitatorSideContainer {
        display: flex;
        /* flex: 0 0 25%;
        max-width: 25%; */
        flex-flow: column;
        box-sizing: border-box;
        /* padding-right: 16px; */
        /* border-right: 1px solid var(--gray); */
    }

    .latestBlogContainer {
        flex: 0 0 65%;
        max-width: 65%;
        padding-left: 0;
    }

    .popularBlogContainer {
        flex: 0 0 35%;
        max-width: 35%;
    }
}

@media(min-width: 977px) {
    .adMedium {
        display: none;
    }
}

@media(max-width: 976px) {
    .adFull {
        display: none;
    }

    .latestSectionSideAd {
        display: none;
    }

    .latestBlogContainer {
        flex: 0 0 60%;
        max-width: 60%;
        padding-left: 0;
        padding-bottom: 16px;
    }

    .popularBlogContainer {
        flex: 0 0 40%;
        max-width: 40%;
    }

}

@media(max-width: 784px) {

    .latestBlogTitle {
        font-size: 20px;
    }

    .latestVideos2to3 .latestVideo:last-of-type {
        padding-left: 16px;
    }

    .latestVideoLarge {
        flex-flow: column;
    }

    .latestVideos1 {
        flex: 0 0 100%;
        max-width: 100%;
        padding-right: 0;
        box-sizing: border-box;
    }
    
    .latestVideos2to3 {
        flex: 0 0 100%;
        max-width: 100%;
        display: flex;
        flex-flow: row nowrap;
    }
}

@media(min-width: 577px) {
    .latestSectionBottomost {
        display: none;
    }
}

@media(max-width: 576px) {
    .latestSectionBottomost {
       margin: 0 8px;
    }
    
    .latestSectionTop {
        margin: 0 8px;
    }

    .popularBlogContainer {
        display: none;
    }

    .latestBlogs4to6 {
        display: none;
    }

    .latestBlogs4to6Bottom {
        margin-top: 16px;
    }

    .latestBlogContainer {
        flex: 0 0 100%;
        max-width: 100%;
        padding-right: 0;
    }

    .latestVideo:last-of-type {
        padding-left: 0;
    }

    .latestBlog {
        flex-flow: column;
    }

    .latestBlogImage {
        flex: 0 0 100%;
        max-width: 100%;
        padding-right: 0;
    }
    
    .latestBlogInfo {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .latestPodcast {
        display: flex;
        border-bottom: 1px solid var(--gray);
    }
    
    .latestPodcast figure div {
        width: 78px;
        height: 78px;
        padding-top: 0;
    }

    .latestPodcastTitle {
        padding: 0 16px;
    }

    .facilitatorBottomContainer, 
    .popularBlogBottomContainer {
        display: block;
    }

    .facilitatorsBottom {
        display: flex;
        overflow-x: auto;
    }

    .facilitator {
        flex: 0 0 80%;
        max-width: 80%;
    }

    .facilitatorImage {
        border-radius: 5%;
    }

    .facilitatorInfo {
        padding-left: 16px;
        margin: 0;
    }
} 