.latestSection {
    margin: 0 8px;
    display: flex;
    /* border-top: 1px solid var(--gray); */
    padding: 16px 0;
}

.latestSectionSideAd {
    margin: 16px auto;
}

.adFullSide {
    width: 300px;
    height: 600px;
    background-position-x: center;
    background-position-y: center;
    background-size: cover;
    background-repeat: no-repeat;
    background: url('../../../assets/art/head-art/ad_ad300X600.png');
    margin: auto;
}

.latestSection figure {
    margin: 0;
}

.latestSection img {
    width: 100%;
}

.latestSection a {
    text-decoration: none;
}

.latestSection figcaption {
    font-size: x-small;
    text-transform: capitalize;
    text-align: right;
    font-family: 'PT Sans', sans-serif;
}

.sectionSubhead {
    display: flex;
    justify-content: space-between;
    padding: 8px 0;
    border-bottom: 1px solid var(--blue);
    margin-bottom: 16px;
}

.sectionSubheadTitle {
    font-family: 'Squada One', cursive;
    text-transform: uppercase;
    color: var(--black);
    font-size: 20px;
}

.sectionSubheadMore {
    font-family: 'PT Sans', sans-serif;
    text-transform: uppercase;
    color: var(--black);
    font-size: 12px
}

.sectionSubhead a:hover {
    color: var(--blue);
}

.popularBlogCategory a, 
.latestBlogCategory a {
    font-family: 'PT Sans', sans-serif;
    color: var(--red);
    font-size: small;
    text-transform: uppercase;
    font-weight: bold;
}

.popularBlogTitle a:hover, 
.latestBlogTitle a:hover {
    color: var(--black);
}

.popularBlogTitle a, 
.latestBlogTitle a {
    font-family: 'Baloo', cursive;
    color: var(--blue);
    text-transform: capitalize;
    line-height: 1;
    display: block;
}

.latestBlogContainer {
    display: flex;
    flex-flow: column;
    flex: 0 0 45%;
    max-width: 45%; 
    padding: 0 16px;
    box-sizing: border-box;
}

.facilitatorContainer {
    display: flex;
    flex: 0 0 25%;
    max-width: 25%;
    flex-flow: column;
    box-sizing: border-box;
    padding-right: 16px;
    /* border-right: 1px solid var(--gray); */
}

.popularBlogContainer {
    display: flex;
    flex: 0 0 30%;
    max-width: 30%;
    flex-flow: column;
    padding-left: 16px;
    box-sizing: border-box;
    /* border-left: 1px solid var(--gray); */
}


.latestBlog {
    padding: 16px 0;
    border-top: 1px solid var(--gray);
    box-sizing: border-box;
    display: flex;
}

.latestBlog figure {
    flex: 0 0 50%;
    max-width: 50%;
    padding: 0 16px 16px 0;
    box-sizing: border-box;
}

.latestBlogInfo {
    flex: 0 0 50%;
    max-width: 50%;
}

.latestBlogPublihDate {
    color: var(--black);
    font-family: 'PT sans', sans-serif;
    font-size: 14px;
}

.latestBlog:first-of-type {
    padding-top: 0;
    border-top: none;
}

.latestBlogTitle {
    font-size: 24px;
}

.popularBlog {
    width: 100%;
    display: flex;
    flex-flow: column;
    padding: 16px 0;
    /* border-top: 1px solid var(--gray); */
    box-sizing: border-box;
}

/* .popularBlog:first-of-type {
    padding-top: 0;
    border-top: none;
} */

.popularBlogTitle {
    font-size: 20px;
}

.popularBlogTitle span {
    color: var(--red);
    padding-right: 8px;
}

.popularBlog figure {
    padding-left: 8px;
}

.popularBlogImage {
    width: 78px;
    height: 78px;
    background-position-x: center;
    background-position-y: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.facilitator {
    width: 100%;
    display: flex;
    flex-flow: row;
    padding: 16px 0;
    /* border-top: 1px solid var(--gray); */
    box-sizing: border-box;
}

/* .facilitator:first-of-type {
    padding-top: 0;
    border-top: none;
} */

.facilitatorName {
    font-family: 'PT Sans', sans-serif;
    font-weight: bold;
}

.facilitatorTitle {
    font-family: 'PT Sans', sans-serif;
}

.facilitator figure {
    padding-left: 8px;
}

.facilitatorImage {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background-position-x: center;
    background-position-y: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.facilitatorInfo {
    padding-left: 8px;
    margin: auto 0;
}

@media(max-width: 1100px) {

}

@media(min-width: 977px) {

}

@media(max-width: 976px) {

    .latestBlogContainer {
        padding-left: 0
    }

    .facilitatorContainer {
        display: none
    }

    .popularBlogContainer {
        flex: 0 0 50%;
        max-width: 50%;
    }

    .facilitator figure {
        display: block;
    }

    .facilitator {
        display: flex;
        justify-content: space-between;
    }

    .latestBlog {
        padding: 0 16px;
        border-top: none;
        box-sizing: border-box;
    }
    
    .latestBlog:first-of-type {
        padding-left: 0;
        border-right:1px solid var(--gray);
    }

    .latestBlog:last-of-type {
        padding-right: 0;
    }
}

@media(max-width: 784px) {

    .latestBlog {
        display: block;
    }

    .latestBlog figure {
        padding-left: 0;
        max-width: 100%;
    }

    .latestBlogInfo {
        max-width: 100%;
    }
}

@media(max-width: 576px) {
    .latestBlogContainer {
        flex: 0 0 100%;
        max-width: 100%;
        padding: 0;
    }

    .latestBlog {
        padding: 16px 0;
        border-bottom: 1px solid var(--gray);
        box-sizing: border-box;
    }
    
    .latestBlog:first-of-type {
        border-right:none;
    }

    .latestBlog:last-of-type {
        border-bottom: none;
    }

    .popularBlogContainer {
        display: none;
    }
}