.headline {
    text-align: center;
    background: var(--blue);
    color: var(--white);
    padding: 30px;
}

.headline h1 {
    margin: auto;
}

.pageComponents {
    display: inline-flex;
    overflow: hidden;
    height: 100%;
    /* position: fixed; */
    width: 100%;
    flex-direction: row;
    justify-content: space-around; 
}

@media(max-width: 600px) {
    .pageComponents {
        flex-direction: column;
    }
}
  