.UniversalWrapper {
    width: 100%;
    min-height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}

.Login {
    padding: 20px 30px;
    background-color: var(--blue);
}

.ValidationErrors {
    /* position: relative; */
    margin-top: 0px; 
}

.ValidationErrors p {
    color: var(--red);
    font-size: 13px;
    font-weight: 500
}

.Error {
    color: var(--red);
    font-size: 13px;
    font-weight: 500;
    text-align: center;
    margin: 0;
}

.container {
    position: relative;
    left: calc(50% - 210px);
    width: 420px;
    margin-top: 5%;
    margin-bottom: 5%;
    overflow-y: auto;
    border-radius: 40px;
    z-index: 200;
}

.Logo {
    text-align: center;
    height: 80px;
    width: 100%;
    background: var(--green);
    display: block;
}
     
.Form div p{
       display: inline;
       color: var(--white);
   }

.Form {
    text-align: center;
}

.Spinner {
    padding: 5rem 0;
}

.Oauth {
    text-align: center;
    margin-top: 10px;
}

.Oauth a{
    text-decoration: none;
    cursor: pointer;
    margin: 0 5px;  
}

.Google{
    display: inline-block;
    width: 40px;
    height: 40px;
    background: var(--white);
    border-radius: 50%;
    cursor: pointer;
}

.Google img {
    height: 40px;
    vertical-align: middle;
}

.Facebook{
    display: inline-block;
    width: 40px;
    height: 40px;
    cursor: pointer;
 }

 .Facebook img {
    height: 40px;
    vertical-align: middle; 
 }

 .ForgotPassword {
    color: var(--green);
    margin-top: 10px;
    display: block;
    text-decoration: underline;
    cursor: pointer;
 }

 .ForgotPassword:hover {
    color: var(--white);
 }
   
@media (max-width: 560px) {
    .container {
        width: 300px;
        left: calc(50% - 150px);
    }

}



