.Login {
    position: absolute;
    padding: 10% 13%;
    width: 74%;
    left:0px;
}

.ValidationErrors {
    position: relative;
    margin-top: 0px; 
}

.ValidationErrors p {
    color: #ff4433;
    font-size: 13px;
    font-weight: 500
}

.Error {
    color: #ff4433;
    font-size: 13px;
    font-weight: 500
}

.HeaderItem {
    display: inline;
    margin: 20px;
    color: #ff4433;
    padding-bottom: 3px;
    border-bottom: 3px solid #8ee630;
    cursor: pointer;
  }

.container {
      display: block;
      position: relative;
      width: 530px;
      height: 490px;
      margin: auto;
      margin-top: 20px; 
      box-shadow: 0px 0px 0px 1px #333;
      overflow:hidden;
      background-color: #0b0f33;
    }

.Logo {
    position: relative;
    text-align: center;
    width: fit-content;
    margin: auto;
    }
        
.Logo img {
    height: 100px;
    margin-top: 20px;
}    
    
.Menu {
      position: relative;
      padding: 5% 13% 0 13%;
    }
   
.Form div p{
       display: inline;
       font-weight: 700;
       color: #fff;
   }
   
.Form a{
       text-decoration: none;
       cursor: pointer;
       
   }

.Form {
    text-align: center;
}
   
.Google{
       height: 50px;
       position: relative;
       top: 15px;
       margin-left: 5px;
       margin-right: 5px;
       cursor: pointer;
   }
   
.Facebook{
       height: 40px;
       position: relative;
       top: 10px;
       margin-left: 10px;
    }

@media (max-width: 560px) {
    .container {
        /* display: flex; */
        position: relative;
        width: 98%;
      }

      .Menu {
        position: absolute;
        width: 100%;
      }

      .Login {
        position: absolute;
        padding-top: 25%;
    }

    .Logo {
        height: 80px;
        padding-bottom: 20px;
    }  

    .Logo img {
        height: 80px;
    }  

}

.Spinner {
    padding-top: 5rem;
}
