.listItem {
    padding: 1.1em;
    font-size: 13px;
    letter-spacing: .5px;
    border-bottom: #f5efef solid 1px;
    min-height: 24px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    color: #484545;
}

.listItem:hover {
    background: #FBF1F1;
}

.draftListContainer {
    /* position: relative; */
    flex: 0 0 30%;
    max-width: 30%;
    text-align: left;
    order: 1;
}

.listsHeader {
    text-align: center;
    height: 60px;
    display: flex;
    padding: 5px;
    box-sizing: border-box;
    background: var(--gray);
    top: 0;
    align-items: center;
    justify-content: center;  
}

.draftList {
    position: relative;
    overflow-y: auto;
    overflow-x: hidden;
    height: 68vh;
}

.addNewButton {
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: var(--white);
    background-image: url('../../assets/images/plus.svg');
    background-position-x: center;
    background-position-y: center;
    background-repeat: no-repeat;
    background-size: 50%;
    margin-left: 5px;
    vertical-align: middle;
    cursor: pointer;
}

.addNewButton:hover {
    background-color: var(--green);
}

@media(max-width: 600px) {
    .draftListContainer {
        flex: 0 0 100%;
        max-width: 100%
    }

    .draftList {
        height: 300px;
    }
}

