.User {
    margin-bottom: 10px;
    outline: none;
    box-shadow: 1px 0px 6px 0px var(--lightGray);
}

.User:first-of-type {
    margin-top: 10px;
}

.MainContainer {
    display: flex;
    flex-wrap: nowrap;
    background: var(--white);
}

.InfoContainer {
    display: flex;
    flex-flow: column;
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
    text-align: center;
}

.WorkUrl {
 padding-left: 40px;
 text-decoration: none;
}

.UrlsContainer {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
}


.Title {
    margin: 0px;
    background-color: var(--white);
    padding: 15px 10px 15px 0;
    text-align: left;
    color: var(--blue);
    font-weight: 700;
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
    text-decoration: underline;
    text-decoration-color: var(--blue);
    text-decoration-line: 2px;
}


.Title:hover {
    color: var(--green);
    text-decoration: none;
}

.DetailsContainer {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 5px 0;
    background: var(--white);
}

.DetailsColumnFlex {
    display: flex;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
    text-align: center;
}


.Type {
    color: var(--lightBlue);
    font-weight: 700;
    font-size: x-small;
    text-align: left;
    padding-left: 40px;
}

.Type span {
    color: var(--blue);
    background: var(--green);
    margin-left: 4px;
    font-size: small;

}

.FeedbackRow {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
    text-align: center;
}

.FeedbackContainer {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    background: var(--white);
    align-items: center;
}

.OptionFixed {
    text-align: right;
    padding: 5px 10px 5px 0;
    display: flex;
}

.OptionFlex {
    text-align: right;
    padding: 5px 10px;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: center;
}

.ResourceFeedBackError {
    display: flex;
    align-items: center;
    text-align: left;
    overflow-x: hidden;
}

.ResourceFeedBackError span {
    color: var(--red);
    animation: slideRight 0.2s ease-in-out;
    padding: 5px 10px;
    border-radius: 0 10px 10px 0;
    background: var(--blue);
}

@keyframes slideRight {
    0% {transform:translateX(-50px); }
    100%{transform: translateX(0px);}
}

@media all and (max-width: 600px) {
    .Type span {
        font-size: x-small;
    }

    .Type {
        padding-left: 10px;    
    }
}