.ContainerItem {
    /* padding: 5px; */
    max-width: 500px;
    margin: auto;
}

/* .ContainerItem span {
    display: none;
} */

.ContainerItem button {
 font-size: small;
 width: 100px;
 height: 50px;
 border-radius: 25px;
 padding: 0;
}

.fetchedUserContainer {
    background: var(--lightGray);
}

.fetchedUser {
    /* width: 100%; */
    display: flex;
    flex-wrap: wrap;
    color: var(--blue);
    margin-bottom: 10px;
    padding: 10px;
    font-size: small;
    font-weight: 700;
}

.fetchedUser span {
    margin-right: 5px;
}