.fetchedResource {
    padding: 32px;
    background: var(--lightBlue);
}

.fetchedResource h1 {
    font-size: 20px;
    color: var(--white);
    font-weight: 700;
}

.adminActionAlert {
    color: var(--red);
    font-size: 12px;
    font-weight: 700;
    text-align: right;
}

.adminActionAlert span {
    background: var(--white);
    /* padding: 4px; */
}

.relatedResources {
    padding: 32px;
}

.relatedResourcesHeading {
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 16px;
    color: var(--blue);
    padding: 16px;
    background: var(--lightGray);
    text-align: center;
}

.SeeAll {
    display: block;
    text-decoration: none;
    color: var(--blue);
    background: var(--green);
    font-weight: 700;
    font-size: 20px;
    padding: 8px;
    border-radius: 8px;
    margin-top: 8px;
    text-align: center;
}

.SeeAll:hover {
    background: var(--lightGray);
}

@media(max-width: 900px) {
    .relatedResources {
        padding: 16px;
    }
}