.Subject {
  width: 100%;
  margin: 10px 0px;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  -ms-flex: 0 0 25%;
  flex: 0 0 25%;
  max-width: 25%;
  }

.SubjectWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
  border-radius: 1rem;
  width: 130px;
  margin: auto;
  padding: 5px;
  border: 2px solid var(--white);
  
  }
  
.SubjectWrapper:hover {
    /* background: var(--green); */
    border: 2px solid var(--blue);
  }
  
.SubjectContainer {
  text-align: center;
  text-decoration: none;
} 

.SubjectIcon {
  height: 70px; 
  padding-top: 10px;
}

.Caption {
  font-size: 14px;
  text-align: center;
  padding: 8px 0 2px;
}

.SubjectSpan {
  color: var(--blue);
  display: block;
  font-weight: 700;
}

.Category {
  text-transform: uppercase;
  font-size: x-small;
  font-weight: 700;
  color: var(--blue);
  background: var(--green);
  display: inline-block;
  padding: 2px;
  border-radius: 6px;
}


@media all and (max-width: 700px) {
  .Subject {
    -ms-flex: 0 0 41.666667%;
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }
}

@media all and (max-width: 450px) {
  .Subject {
    -ms-flex: 0 0 83.333333%;
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
  }
}