.Options {
    padding: 10px 0;
    background: var(--lightBlue);
    color: var(--green);
}

.ContentItems {
    display: flex;
    justify-content: center;  
    flex-flow: row wrap;
    text-align: center;
    padding: 10px;
    background: var(--white); 
}