.sectionWrapper {
    width: 100%;
}

.inspireBoard {
    /* display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100px; */
    padding: 16px;
    background: var(--blue);
}

.inspireBoard article {
    max-width: 600px;
    color: var(--white);
    text-align: center;
}

.userSpec {
    padding: 16px;
}

.descriptor {
    white-space: nowrap;
    text-transform: capitalize;
    padding-right: 16px;
    font-weight: 400;
}

.description {
    display: inline-block;
}

.description a, .description button {
    cursor: pointer;
    text-decoration: underline;
    font-size: 16px;
    color: var(--blue);
    background: none;
    padding-left: 4px;
    border: none;
    font-family: "Nunito";
    font-weight: 700;
}

.adFullSide {
    width: 300px;
    height: 600px;
    background-position-x: center;
    background-position-y: center;
    background-size: cover;
    background-repeat: no-repeat;
    background: url('../../assets/art/head-art/ad_ad300X600.png');
    margin: auto;
}

