.wrapper {
    display: flex;  
    flex-flow: row wrap;
    font-weight: bold;
    text-align: center;
  }

  /*.ContainerFluid {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }*/

  .Row {
    list-style: none;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0px;
  }

  .Subject {
    /*position: relative;*/
    width: 100%;
    margin: 10px 0px;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    -ms-flex: 0 0 25%;
  flex: 0 0 25%;
  max-width: 25%;
  }

  .SubjectWrapper {
    text-align: center;
    padding: 75px 25px;
    background-color: #8ee630;
    background-color: #74be23;
    border-radius: 20px;
  }

  .SubjectWrapper2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
  border-radius: 1rem;
  width: 160px;
  /*background: #8ee630;*/
  margin: auto;
  padding: 5px;
  
  }

  .SubjectWrapper2:hover {
      background:#8ee630;
    }

  .SubjectWrapper2 a {
      text-align: center;
  }

  .SubjectIcon {
    height: 100px; 
    padding-top: 10px;
  }

.EyeIcon {
  height: 15px;
  margin-right: 5px;
  vertical-align: middle;
}

/*.WidthControl {
  width: 160px;
  background: #8ee630;
  text-align: center;
  margin: auto;
  padding: 10px 0px;
  border-radius: 30px;
}*/

  .Caption {
    font-size: .8rem;
    text-align: center;
    padding-top: .5rem;
    padding-bottom: .5rem;
     width: 100% 
  
  }

  .SubjectSpan {
    color: deepskyblue;
    display: block;
  }
  
  .wrapper > * {
    /*padding: 10px;*/
    flex: 1 100%;
  }
  
  .header {
    background: white;
    padding: 50px
  }

  .ViewCounter {
    background: white;
    border-radius: 10px;
    padding: 0 10px;
    text-align: right;
  }
  
  .footer {
    background: white;
    padding: 50px;
  }
  
  .NavContainer {
    background: #8ee630;
    padding-bottom : 10px;
  }


.NavContainer h3 {
    margin: 0px;
    margin-bottom: 10px;
    background-color: #74be23;
    padding: 10px 0px;
    text-align: center;
    color: #0b0f33;
}
  .main {
    text-align: left;
    background: #0b0f33;
    min-height: 500px;
    /*overflow: auto;*/
  }

  .main p {
      color: #8ee630;
      padding: 10px;
  }
  
  .aside1 {
    background: white;
    width: 50px;
  }
  
  .aside2 {
    background: white;
    width: 50px;
  }
  
  /*@media all and (min-width: 600px) {
    .aside { flex: 1 auto; }
  }*/

  @media all and (min-width: 600px) {
    .aside { flex-basis: 0;
            flex-grow: 1;
            max-width: 100%;
        }
    }
  @media all and (min-width: 1000px) {
    /*.main    { flex: 3 0px; }*/
    .main  { flex: 0 0 60%; 
        max-width: 60%;
    }
    .aside1 { order: 1; } 
    .main    { order: 2; }
    .aside2 { order: 3; }
    .footer  { order: 4; }
  }

  @media all and (max-width: 1000px) {
    .aside { display: none; }
  }

  @media all and (max-width: 600px) {
    .Subject {
      /*position: relative;*/
     
      -ms-flex: 0 0 41.666667%;
      flex: 0 0 41.666667%;
      max-width: 41.666667%;
    }
  }
  /*body {
    padding: 2em; 
  }
  */

  @media all and (max-width: 400px) {
    .Subject {
      /*position: relative;*/
     
      -ms-flex: 0 0 83.333333%;
      flex: 0 0 83.333333%;
      max-width: 83.333333%;
    }
  }