.sectionWrapper {
    width: 100%;
}

.userSpec {
    padding: 16px;
}

.userSpec h1 {
    margin: 0;
}

.descriptor {
    white-space: nowrap;
    text-transform: capitalize;
    padding-right: 16px;
    font-weight: 400;
}

.description {
    display: inline-block;
}

.description a, .description button {
    cursor: pointer;
    text-decoration: underline;
    font-size: 16px;
    color: var(--blue);
    background: none;
    padding-left: 4px;
    border: none;
    font-family: "Nunito";
    font-weight: 700;
}

