.Row {
    list-style: none;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0px;
    margin-block-start: 0px;
    margin-block-end: 0px;
}

.SpinnerContainer {
    padding-top: 5rem;
}

.Explorer {
    /* background: var(--lightBlue); */
    min-height: 500px; 
}