.Subhead {
    background: var(--green);
    /* padding-bottom : 10px; */
}

.FlexContainer {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    /* background: var(--skyBlue); */
}

.TitleColumn h5 {
    margin: 0px;
    background-color: var(--blue);
    padding: 15px 40px;
    text-align: left;
    color: var(--green);
    font-weight: 400;
}
  
.TitleColumn {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
    text-align: center;
}
  
.IconColumn {
    width: 70px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--skyBlue);
}

.IconColumn:hover { 
    cursor: pointer;  
    background: var(--darkGreen);
}

.FilterIcon {
    height: 30px;
    vertical-align: top;
}

.RightAngleIcon {
    height: 30px;
    vertical-align: top;
    -webkit-transform: rotate(270deg);
            transform: rotate(270deg);
}


.Rotate180 {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg); 
}
