.Container {
    width: 240px;
    box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.4);
    margin: 10px;
    border-radius: 20px;
    display: inline-flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: space-between;
    text-decoration: none;
    flex-shrink: 0;
    overflow: hidden;
}

.forExploreContainer {
    width: 240px;
    border: 2px solid var(--lightGray);
    /* box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.4); */
    margin-right: 16px;
    border-radius: 20px;
    display: inline-flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: space-between;
    text-decoration: none;
    flex-shrink: 0;
    overflow: hidden;
}

.titleWrapper {
    flex-grow: 1;
    background: var(--white);
    flex-grow: 1;
    justify-content: space-between;
    display: flex;
    flex-flow: column;
}

.titleWrapper:hover {
    background: var(--green);
}

.description {
    font-size: 12px;
    font-weight: 700;
    color: var(--darkGreen);
}

.title {
    height: 80px;
    color: var(--blue);
    padding: 10px;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: left;
    word-break: break-word;
    flex-grow: 1;
}

.curator {
    color: var(--blue);
    font-size: 14px;
    padding: 0 8px;
    font-weight: 700;
    white-space: nowrap;
    overflow: hidden;
    box-sizing: border-box;
    background: var(--green);
}

.NontitleWrapper {
    display: flex;
    /* height: 120px; */
    background: var(--blue);
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-end;
    /* flex-grow: 1; */
}

.ItemCount {
    overflow-x: auto;
    font-weight: 400;
    font-size: large;
    color: var(--green);
    text-align: center;
    padding-top: 4px;
}

.ItemLabel {
    text-align: center;
    color: var(--white);
    font-size: small;
}

.DateLabel {
    color: var(--green);
    font-size: small;
    font-weight: 400;
    text-align: center;
    padding: 10px;
}

.PinIconWrapper {
    text-align: center;
    padding-top: 5px;
}

.PinIconWrapper span {
    color: var(--blue);
    font-size: x-small;
}

.PinIconRow {
    width: 20px;
    height: 20px;
    display: inline-block;
    box-sizing: border-box;
    vertical-align: middle;
    cursor: pointer;
    text-align: center;
    font-weight: 400;
    background-image: url('../../../assets/images/thumbtack-focus.svg');
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    background-size: 60%;
    transform: rotate(45deg);
}