.Container {
    width: 280px;
    /* background: var(--darkBlue); */
    box-shadow: 1px 0px 6px 0px var(--gray);
    margin: 10px;
    border-radius: 20px;
    display: inline-flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: space-between;
    text-decoration: none;
    flex-shrink: 0;
    overflow: hidden;
}

.Container:hover .Title {
    background: var(--green);
}

.Container:hover .PinIconWrapper{
    background-color: var(--green);
}

.Title {
    /* max-height: 50px; */
    height: 100px;
    overflow: hidden;
    color: var(--blue);
    background: var(--white);
    /* border-bottom: 1px solid var(--lightBlue); */
    /* margin-bottom: 10px; */
    padding: 10px;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: left;
}

.NontitleWrapper {
    display: flex;
    height: 120px;
    background: var(--blue);
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-end;
    flex-grow: 1;
}

/* .Title::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 2px;
	background-color: #F5F5F5;
}

.Title::-webkit-scrollbar
{
    width: 2px;
    height: 2px;
	background-color: #F5F5F5;
}

.Title::-webkit-scrollbar-thumb
{
	border-radius: 2px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: var(--green);
    box-shadow: inset 0 0 6px rgba(0,0,0,.3);
} */

.ItemCount {
    overflow-x: auto;
    font-weight: 400;
    font-size: x-large;
    color: var(--green);
    text-align: center;
}

.ItemLabel {
    text-align: center;
    color: var(--white);
    padding-bottom: 10px;
}

.DateLabel {
    color: var(--green);
    font-size: small;
    font-weight: 400;
    text-align: center;
    padding: 10px;
}

.DescLabel {
    color: var(--green);
    font-size: small;
    font-weight: 400;
    text-align: center;
    /* padding: 10px; */
}

.PinIconWrapper {
    text-align: center;
    /* padding-right: 20px; */
    padding-top: 5px;
}

.PinIconWrapper span {
    color: var(--blue);
    font-size: x-small;
}

.PinIconRow {
    width: 20px;
    height: 20px;
    display: inline-block;
    box-sizing: border-box;
    vertical-align: middle;
    cursor: pointer;
    text-align: center;
    font-weight: 400;
    background-image: url('../../../assets/images/thumbtack-focus.svg');
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    background-size: 60%;
    transform: rotate(45deg);
}

.PinSpaceHolder {
    width: 20px;
    height: 20px;
    display: inline-block;
    box-sizing: border-box;
    vertical-align: middle;
}