.PostAddInfo {
    padding: 20px;
    font-weight: 400;
    color: var(--green);
    background: var(--lightBlue);
    margin: 10px auto;
    border-radius: 20px;
    max-width: 400px;
    text-align: center;
    overflow: auto;   
}

.Description {
    color: var(--green);
    font-weight: 700;
    text-align: center;
    padding: 8px 8px 0;
}

.CollectionWrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* background: var(--green); */
    padding: 10px;
}