

.Spinner {
width: 20px;
height: 20px;
border-radius: 50%;
border: 5px solid #00000046;
border-right: 5px solid var(--white);
border-bottom: 5px solid var(--white);
animation: spin .3s linear infinite;
}

.SpinnerContainer {
    display: flex;
    justify-content: center;
}

@keyframes spin {
to {
transform: rotate(1turn);
}
}

@-webkit-keyframes spin {
to {
-webkit-transform: rotate(1turn);
}
}