.Collection {
    margin-top: 8px;
}

.CollectionInfo {
    padding-bottom: 8px;
}

.Container {
    min-height: 500px;
    /* padding: 0 8px; */
}

.CollectionEmptyMessage {
    /* padding: 5px; */
    text-align: center;
    max-width: 400px;
    /* margin: auto; */
    background: var(--blue);
    margin: 30px auto;
    /* padding: 50px; */
    color: var(--green);
    font-weight: 400;
    padding-bottom: 10px;
    border-radius: 20px;
    padding: 50px;
}

.ContainerItem {
    padding: 5px;
    text-align: center;
    max-width: 400px;
    margin: auto;
}

.HeaderWrapper {
    background: var(--blue);
}

.Title {
    padding: 14px;
    overflow-x: hidden;
    color: var(--green);
    font-weight: 700;
    width: 500px;
}

/* .OptionsColumn {
    padding-right: 5px;
    margin: auto;
} */

.PublicTag {
    font-size: x-small;
    font-weight: 700;
    padding: 4px;
    border-radius: 5px;
    background: var(--green);
    color: var(--blue);
    /* display: inline-block; */
    margin: 10px 10px 0 0;
    width: 30px;
}

.updated {
    color: var(--white);
    text-align: right;
    padding-right: 14px;
    font-size: 14px;
}

.updated span {
    color: var(--green);
    padding-right: 4px;
}

@media( max-width: 600px) {
    .CollectionEmptyMessage {
        max-width: 200px;
    }

    .Title {
        width: 250px;
     }
}