.AddFeedbackInfo {
    color: var(--green);
    font-weight: 400;
    padding: 5px;
    font-size: small;
    display: inline;
}

.ErrorFeedbackInfo {
    color: var(--red);
    padding: 5px;
    font-size: small;
    display: inline;
}

.ContentItems {
    padding: 10px;
}

.ContainerItem {
    padding: 5px;
    text-align: center;
    max-width: 400px;
    margin: auto;
}

/* .ContainerItem span {
    display: none;
} */

.ContainerItem button {
 font-size: small;
 width: 100px;
 height: 50px;
 border-radius: 25px;
 padding: 0;
}

.AdminAction {
    color: var(--lightBlue);
    font-weight: 700;
    padding: 20px 0;
}

.FillError {
    color: var(--red);
    font-size: small;
    font-weight: 400;
    max-width: 180px;
    margin: auto;
    padding: 2px;
}

.ChangePassword button {
    /* width: 160px;
    background: var(--white);
    color: var(--blue);
    margin-bottom: 10px;
    margin-top: 0;
    border: 2px solid var(--blue); */

    width: 100%;
    background: none;
    color: var(--darkGreen);
    margin-bottom: 10px;
    text-decoration: underline;
    text-transform: capitalize;
    border-bottom: 2px solid var;
    margin-top: 0;
    font-size: 16pt;
}

.ChangePassword button:hover {
    /* background: var(--blue); */
    color: var(--blue);
    text-decoration: none;
}

/* .ChangePassword:hover {
    color: var(--white);
} */