.DialogueContainer {
    padding: 30px 5px;
    text-align: center;
    width: 240px;
    border-radius: 20px;
    background: var(--blue);
    margin: 20px auto;
}

.ComponentContainer {
    margin: 3rem auto;
    text-align: center;
}

.ButtonSpinner {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 5px solid #00000046;
    border-right: 5px solid var(--white);
    border-bottom: 5px solid var(--white);
    animation: spin .3s linear infinite;
}

.ButtonSpinnerContainer {
    display: flex;
    justify-content: center;
}

.Spinner {
width: 40px;
height: 40px;
border-radius: 50%;
border: 5px solid #00000046;
border-right: 5px solid var(--green);
border-bottom: 5px solid var(--green);
animation: spin .3s linear infinite;
}

.SpinnerContainer {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    align-items: center;
    height: 100px;
    justify-content: center;
}

@keyframes spin {
    to {
        transform: rotate(1turn);
    }
}

@-webkit-keyframes spin {
    to {
        -webkit-transform: rotate(1turn);
    }
}