

.Spinner {
width: 40px;
height: 40px;
border-radius: 50%;
border: 5px solid #00000046;
border-right: 5px solid var(--green);
border-bottom: 5px solid var(--green);
animation: spin .3s linear infinite;
}

.SpinnerContainer {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    align-items: center;
    height: 100px;
    justify-content: center;
}

@keyframes spin {
to {
transform: rotate(1turn);
}
}

@-webkit-keyframes spin {
to {
-webkit-transform: rotate(1turn);
}
}