

.Spinner {
width: 50px;
height: 50px;
border-radius: 50%;
border: 5px solid #00000046;
border-right: 5px solid #8ee630;
border-bottom: 5px solid #8ee630;
animation: spin .3s linear infinite;
}

@keyframes spin {
to {
transform: rotate(1turn);
}
}

@-webkit-keyframes spin {
to {
-webkit-transform: rotate(1turn);
}
}