.spinnerWrapper {
    margin: 0 16px;  
    min-height: 320px;
}

.section {
    margin: 0 16px;
}

.subsection {
    margin-bottom: 48px;
}

.subsection h2 {
    color: var(--blue);
    padding: 16px;
    font-size: 20px;
    margin:0;
    margin-bottom: 16px;
    background: var(--lightGray);
    text-align: center;
}

.subsection h2 a {
    color: var(--darkGreen);
    text-decoration-color: var(--darkGreen);
}

.subsection h2 a:hover {
    color: var(--blue);
    text-decoration: none;
}

.otherSkillsContainer {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
}

.otherSkillsContainer li {
    list-style: none;
}

.adFullSide {
    width: 300px;
    height: 600px;
    background-position-x: center;
    background-position-y: center;
    background-size: cover;
    background-repeat: no-repeat;
    background: url('../../../assets/art/head-art/ad_ad300X600.png');
    margin: auto;
}

.featuredSectionTopAd {
    width: 100%;
    margin: 16px auto;
    box-sizing: border-box;
}

.adFull {
    width: 728px;
    height: 90px;
    background-position-x: center;
    background-position-y: center;
    background-size: cover;
    background-repeat: no-repeat;
    background: url('../../../assets/art/head-art/ad_728X90.png');
    margin: auto;
}

.adMedium {
    width: 320px;
    height: 100px;
    background-position-x: center;
    background-position-y: center;
    background-size: cover;
    background-repeat: no-repeat;
    background: url('../../../assets/art/head-art/ad_320X100.png');
    margin: auto;
}

@media(min-width: 901px) {
    .adMedium {
        display: none;
    }
}

@media(max-width: 900px) {   
    .adFull {
        display: none;
    }
}