.recentlyViewedContainer {
    margin: 0 16px;
}

.recentlyViewedContainer h2 {
    color: var(--blue);
    padding: 16px;
    font-size: 20px;
    margin: 0;
}

.recentlyViewed {
    display: flex;
    flex-flow: row nowrap;
    box-sizing: border-box;
    overflow-x: auto;
    margin: 16px;
    padding-bottom: 16px;
    margin-bottom: 0;
}