.Content {
    margin-top: 70px;
    flex: 1 0 auto;
}

.Site {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.Searchbar {
    background-color: #0b0f33;
    padding-bottom: 10px;
    padding-top: 10px;
}

@media (min-width: 780px) {
    .Searchbar {
        display: none;
    }
}
