.NewSearchContainer {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%;
}

.SearchWrapper {
  display: flex;  
  /* flex-flow: row; */
  flex-wrap: nowrap;
  text-align: center;
  /* background: lightgray;  */
  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%;
  /* border: 1px solid var(--lightBlue); */
  border-radius: 20px;
  padding: 5px; 
  background: rgba(255, 255, 255, 0.151);    
}

.SearchForm {  
  max-width: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  flex-grow: 1;
  flex-basis: 0;
  justify-content: space-between;
}

.SearchInput {
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  -ms-flex-positive: 1;
  flex-grow: 1;
  max-width: 80%;
  text-align: left;
  background: none;
  font-size: large;
  border-style: none;
  outline: none;
  color: var(--green);
  font-family: inherit;
  box-sizing: border-box;
}

.SearchButton {
  /* padding: 0 10px; */
  border-style: none;
  width: 48px;
  height: 24px;
  border-radius: 12px;
  cursor: pointer;
  font-weight: 700;
  text-decoration: none;
  transition: all 0.5s ease;
  background-color: var(--darkBlue);
  background-image: linear-gradient(45deg, var(--skyBlue) 0%, var(--skyBlue) 55%, var(--blue) 90%);
  background-position: 100% 0;
  background-size: 200% 200%;
  color: var(--green);
  /* border: 1px solid var(--skyBlue); */
}

.SearchButton:hover {
  background-color: var(--skyBlue);
  color: var(--white);
  background-image: none;
}

.SearchIcon {
  background-image: url('../../assets/images/baseline-search-24px.svg');
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  background-size: 100%;
  width: 24px;
  height: 24px;
}

@media (max-width: 550px) {
  .SearchInput {
    max-width: 70%;
    width: 100px;
  }

}
