.InputElement {
    display: block;
    width: 100%;
    margin: auto;
    padding: 13px;
    border-radius: 30px;
    background: rgba(255, 255, 255, 0.25);
    font-size: 15px;
    font-weight: 700;
    border-style: none;
    /* color: var(--lightBlue); */
    font-family: inherit;
    box-sizing: border-box;
}

.InputElement:focus {
    outline: none;
    background-color: var(--white);
}

.Label {
    display: block;
    margin-top: 10px;
    padding: 5px 10px;
    color: var(--white);
    text-align: left;
}

.Label span {
    color:  var(--green);
}

.Invalid {
 border: 1px solid var(--red);
}

.ValidationErrors {
    color: var(--red);
    font-size: 13px;
    font-weight: 500;
    text-align: left;
}