.InputElement {
    display: block;
    width: 100%;
    margin: auto;
    padding: 13px;
    border-radius: 30px;
    background: rgba(255, 255, 255, 0.151);
    font-size: 15px;
    font-weight: 700;
    border-style: none;
    color: #0b0f33;
    font-family: inherit;
    box-sizing: border-box;
}

.InputElement:focus {
    outline: none;
    background-color: #ccc;
}

.Label {
    display: block;
    margin-top: 10px;
    padding: 5px 10px;
    font-size: 15px;
    font-weight: 600;
    color: #fff;
    text-align: left;
}

.Label span {
    color:  #ff4433;
}

.Invalid {
 border: 1px solid #ff4433;
}

.ValidationErrors {
    color: #ff4433;
    font-size: 13px;
    font-weight: 500;
    text-align: left;
}