.AddFeedbackInfo {
    color: var(--darkBlue);
    padding: 5px;
    font-size: small;
    display: inline;
}

.ErrorFeedbackInfo {
    color: var(--red);
    padding: 5px;
    font-size: small;
    display: inline;
}

.ContainerItem {
    padding: 5px;
}

.ContainerItem span {
    display: none;
}

.ContainerItem button {
 font-size: small;
 width: 100px;
 height: 50px;
 border-radius: 25px;
 padding: 0;
}

.AdminAction {
    color: var(--darkBlue);
    font-size: x-small;
    font-weight: 700;
}

.Form {
    background: var(--lightBlue);
    padding: 20px;
    margin: 10px;
}

.Form label {
    margin-top: 0px;
    font-weight: 400;
    font-size: small;
}

.Form select {
    font-weight: 400;
}

.Form input {
    font-weight: 400;
}