.FillError {
    color: var(--red);
    margin: 4px auto;
    font-weight: 700;
    font-size: small;
    width: fit-content;
    background: var(--white);
}

.Success {
    /* color: var(--green);
    font-weight: 700;
    margin-top: 2px;
    font-size: small;
    display: inline-block; */

    color: var(--green);
    font-weight: 700;
    font-size: small;
    width: fit-content;
    margin: 4px auto;
}

.Failed {
    color: var(--red);
    margin: 4px auto;
    font-weight: 700;
    font-size: small;
    width: fit-content;
    background: var(--white);
}