.FillError {
    color: var(--red);
    margin: 4px auto;
    font-weight: 700;
    font-size: small;
    width: fit-content;
    background: var(--white);
}

.Success {
    color: var(--blue);
    font-weight: 700;
    font-size: small;
    width: fit-content;
    margin: 4px auto;
    background: var(--white);
}

.Failed {
    color: var(--red);
    margin: 4px auto;
    font-weight: 700;
    font-size: small;
    width: fit-content;
    background: var(--white);
}