.NewButton {
    text-decoration: none;
    color: var(--blue);
    background: var(--white);
    border-radius: 20px;
    /* font-size: small; */
    font-weight: 700;
    padding: 10px;
    margin: 10px;
    display: inline-block;
}

.NewButton:hover {
    background: var(--green);
}

.CollectionsContainer {
    /* width: 260px; */
    margin: 20px;
    background: var(--blue);
    border-radius: 20px;
}

.PostAddInfo {
    padding: 20px;
    font-weight: 400;
    color: var(--green);
}

