/* comments and replies */

.commentContainer {
    width: 100%;
}

.repliesContainer {
    width: 90%;
    margin-left: auto;
}

.commentInfo {
    display: flex;
}

.commentor {
    flex: 0 0 50%;
    max-width: 50%;
}

.commentor svg {
    width: 24px;
    height: 24px;
    fill: var(--blue);
}

.commentor span {
    font-weight: bold;
}

.date {
    flex: 0 0 50%;
    max-width: 50%;
}

.commentText {
    width: 100%;
}

.replyButton {
    font-weight: bold;
}

/* Comments Section */

.backdrop {
    width: 100%;
    position: fixed;
    z-index: 300;
    background-color: rgba(0, 0, 0, 0.30);
    left: 0;
    top: 0;
    min-height: 100%;
}

.commentSection {
    position: fixed;
    width: 500px;
    max-width: 70%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 500;
    background-color: var(--white);
    box-sizing: border-box;
    transition: transform 0.1s ease-out;
    overflow-y: auto;
    font-family: 'PT sans', sans-serif;
}

.Open {
    transform: translateX(0);
}

.Close {
    transform: translateX(-100%);
}

.headerWrapper {
    border-bottom: 1px solid var(--gray);
    padding-bottom: 8px;
}

.commentSectionHeader {
    display: flex;
    align-items: center;
    height: 60px;
}

.commentSectionHeader span {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    width: 60px;
    cursor: pointer;
    text-align: center;
}

.commentSectionHeader svg {
    height: 36px;
    width: 36px;
}

.commentSectionHeader div {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
    padding-left: 32px;
    font-family: 'Squada One', Impact, 'Arial Narrow Bold', sans-serif;
    font-size: 24px;
}

.blogTitle {
    padding-left: 8px;
    color: var(--blue);
    font-weight: bold;
    text-transform: capitalize;
    margin-right: 8px;
    display: flex;
    align-items: center;
    height: 40px;
    overflow: hidden;
    white-space: nowrap;
    overflow: hidden;
}

.commentTextInputSection {
    height: 60px;
    padding: 0 8px;
}

.commentTextInputSection form {
    display: flex;
    height: 100%;
}

.commentTextInputSection textarea {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
    resize: none;
    font-family: 'PT sans', sans-serif;
    font-size: 16px;
    padding: 4px;
    border-color: var(--blue);
}

.commentTextInputSection button {
    margin: 0;
    height: 100%;
    border-radius: 0;
    border: 2px solid var(--blue);
    width: 120px;
}

@media(max-width: 576px) {
    .commentSection {
        width: 100%;
        max-width: 100%;
    }
}