/* comments and replies */

.commentContainer {
    width: 100%;
    width: 100%;
    padding: 8px 0;
    border-bottom: 1px solid var(--lightGray);
}

.commentContainer:first-of-type {
    padding-top: 0;
}

.replyContainer {
    width: 100%;
    width: 100%;
    padding: 8px 0;
}

.repliesContainer {
    width: 95%;
    margin-left: auto;
    padding-left: 8px;
    border-left: 1px solid var(--lightGray);
}

.commentInfo {
    display: flex;
    flex-flow:  column;
}

.commentor {
    display: flex;
    white-space: nowrap;
    margin-right: 8px;
    overflow: hidden;
}

.commentor svg {
    width: 18px;
    height: 18px;
    fill: var(--green);
    padding-right: 8px;
}

.commentor span {
    font-family: 'Squada One', Impact, 'Arial Narrow Bold', sans-serif;
    font-size: 16px;
    color: var(--blue);
    text-transform: capitalize;
}

.date {
    font-size: 12px;
    white-space: nowrap;
    margin-right: 8px;
    overflow: hidden;
}

.commentText {
    width: 100%;
}

.replyButton {
    text-align: right;
    margin-top: 2px;
}

.replyButton button {
    border-style: none;
    background: var(--lightGray);
    color: var(--blue);
    font-weight: 700;
    cursor: pointer;
    margin-right: 8px;
    border: 2px solid var(--blue);
}

/* Comments Section */

.backdrop {
    width: 100%;
    position: fixed;
    z-index: 300;
    background-color: rgba(0, 0, 0, 0.30);
    left: 0;
    top: 0;
    min-height: 100%;
}

.commentSection {
    position: fixed;
    width: 500px;
    max-width: 70%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 500;
    background-color: var(--white);
    box-sizing: border-box;
    transition: transform 0.1s ease-out;
    overflow-y: auto;
    font-family: 'PT sans', sans-serif;
}

.Open {
    transform: translateX(0);
}

.Close {
    transform: translateX(-100%);
}

.headerWrapper {
    border-bottom: 1px solid var(--lightGray);
    /* padding-bottom: 8px; */
}

.commentSectionHeader {
    display: flex;
    align-items: center;
    height: 60px;
}

.replyingBlog {
    height: 30px;
    padding-left: 8px;
    margin-right: 8px;
    font-size: 16px;
    overflow: hidden;
    white-space: nowrap;
    overflow: hidden;
}

.replyingBlog strong {
    color: var(--blue);
    padding-left: 8px;
}

.replyingBlog button {
    border-style: none;
    background: var(--lightGray);
    color: var(--blue);
    font-weight: 700;
    cursor: pointer;
    margin-right: 8px;
    border: 2px solid var(--blue);
}

.commentSectionHeader span {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    width: 60px;
    cursor: pointer;
    text-align: center;
}

.commentSectionHeader svg {
    height: 36px;
    width: 36px;
    fill: var(--blue);
}

.commentSectionHeader div {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
    padding-left: 32px;
    font-family: 'Squada One', Impact, 'Arial Narrow Bold', sans-serif;
    font-size: 24px;
    color: var(--blue);
}

.commentAuthRequiredSection {
    height: 60px;
    padding: 0 8px;
}

.commentAuthRequiredSection a {
    display: flex;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    background: var(--green);
    border: 2px solid var(--blue);
    text-transform: uppercase;
    height: 100%;
    cursor: pointer;
    font-size: 16px;
    font-family: 'Squada One', Tahoma, 'Segoe UI', Verdana, sans-serif;
    color: var(--blue);
}

.commentAuthRequiredSection a:hover {
    background: var(--lightGray);
    border: 2px solid var(--lightGray);
}

.commentTextInputSection {
    height: 60px;
    padding: 0 8px;
}

.commentTextInputSection form {
    display: flex;
    height: 100%;
}

.commentTextInputSection textarea {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
    resize: none;
    font-family: 'PT sans', sans-serif;
    font-size: 16px;
    padding: 4px;
    border-color: var(--blue);
}

.commentTextInputSection button {
    margin: 0;
    height: 100%;
    border-radius: 0;
    border: 2px solid var(--blue);
    width: 120px;
}

.formFeedBack {
    height: 30px;
    padding-left: 8px;
    font-weight: 700;
    font-size: 16px;
    white-space: nowrap;
    margin-right: 8px;
    overflow: hidden;
}

.formFeedBack .fillError {
    color: var(--red);
}

.formFeedBack .commentPostSuccess {
    color: var(--blue);
}

.commentSectionWrapper {
    max-height: calc(100vh - 278px);
    min-height: calc(100vh - 278px);
    overflow-y: auto;
}

.comments {
    padding: 16px;
}

.noComments {
    text-align: left;
}

.blogTitle {
    padding: 8px;
    color: var(--blue);
    font-weight: 700;
    text-transform: capitalize;
    background: var(--lightGray);
    /* margin-right: 8px; */
    display: flex;
    align-items: center;
    height: 80px;
    overflow: hidden;
    border-top: 1px solid var(--blue);
}

@media(max-width: 576px) {
    .commentSection {
        width: 100%;
        max-width: 100%;
    }
}