
.SearchIcon {
    width: 32px;
    height: 32px;
    margin-left: 16px;
}

.SearchIcon:hover .SearchIconFront {
    fill: var(--green);
}

.SearchIcon:hover .SearchIconBack {
    fill: var(--blue);
}


.NavigationItems {
    display: flex;
    flex-flow: row;
    align-items: center;
    height: 100%;
    width: 240px;
    justify-content: flex-end;
}

.User {
    height: 32px;
    width: 32px;
    fill: var(--green);
}

.User:hover {
    fill: var(--blue);
}

@media (max-width: 900px) {
    .NavigationItems {
        width: 80px;
    }
}