

.SearchIcon {
    width: 28px;
    height: 28px;
    /* margin-left: 16px; */
    vertical-align: middle;
    fill:var(--blue);
}

.SearchIcon:hover {
    fill: var(--white);
}

.NavigationItems {
    display: flex;
    flex-flow: row;
    align-items: center;
    height: 100%;
    justify-content: flex-end;
    flex: 0 0 30%;
    max-width: 30%;
}

.ItemContainer {
    padding-left: 16px;
}

.ItemContainer a {
    display: inline-block;
}

.User {
    height: 32px;
    width: 32px;
    fill: var(--blue);
    vertical-align: middle;
}

.User:hover {
    fill: var(--white);
}

@media (max-width: 600px) {
    .ItemContainer {
        padding-left: 8px;
    } 
}