.LoginIcon {
    width: 32px;
    height: 32px;
    vertical-align: middle;
    fill:var(--blue); 
}

.LoginIcon:hover {
    fill: var(--green);
}

.SearchIcon {
    width: 28px;
    height: 28px;
    vertical-align: middle;
    fill:var(--blue);
}

.SearchIcon:hover {
    fill: var(--green);
}

.NavigationItems {
    display: flex;
    flex-flow: row;
    align-items: center;
    height: 100%;
    justify-content: flex-end;
    flex: 0 0 30%;
    max-width: 30%;
}

.ItemContainer {
    padding-left: 16px;
}

.ItemContainer a {
    display: inline-block;
}

.search {
    display: inline-block;
    cursor: pointer;
}

.User {
    height: 32px;
    width: 32px;
    fill: var(--blue);
    vertical-align: middle;
}

.User:hover {
    fill: var(--green);
}

@media (max-width: 600px) {
    .NavigationItems {
        flex: 0 0 25%;
        max-width: 25%;
    }

    .ItemContainer {
        padding-left: 8px;
    } 

    .User {
        height: 28px;
        width: 28px;
    }

    .SearchIcon {
        height: 24px;
        width: 24px;
    }
}