.Wrapper {
    margin-bottom: 20px;
}

.ContentItems {
    display: flex;
    justify-content: center;  
    flex-flow: row wrap;
    text-align: center;
    padding: 10px;
    border-bottom: 2px solid var(--blue);
    /* background: var(--green);  */
}

.BlockContentItems {
    text-align: center;
    padding: 10px;
    /* background: var(--green);  */
    border-bottom: 2px solid var(--blue);
}