.Scroll {
    opacity: 0.75;
    width: 50px;
    height: 50px;
    position: fixed;
    bottom: 16px;
    right: 16px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    z-index: 10;
}

.button {
    fill: var(--green);
}

.arrow {
    fill: var(--white);
}

.Scroll:hover {
    opacity: 1;
}