.AllWrapper {
    padding: 0 16px;
}

.ProfilePanelWrapper {
    background: var(--white);
    position: relative;
    margin: 10px 0;
    padding: 20px;
    box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, .25);
    border-radius: 5px;
}

.ProfilePanel {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.Biodata {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    box-sizing: border-box;
    padding-right: 20px;
    flex: 0 0 50%;
    max-width: 50%;
    margin-bottom: 16px;
    /* border-right: 1px solid var(--lightGray); */
}

.ProfilePic {
    margin: auto;
    width: 100px;
}

.UserIcon {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: url(../../assets/images/user-circle.svg);
    margin: auto;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    background-size: 88%;
    border: 1px solid var(--blue);
}

.BiodataInfo {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
}

.BiodataEdit {
    width: 80px;
    text-align: left;
}

.BiodataEditButton {
    padding: 5px 20px;
    margin: 5px auto;
    color: var(--white);
    background: var(--blue);
    border-radius: 20px;
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
}

.BiodataEditButton:hover {
    background: var(--green);
}

.BiodataInfo div {
    color: var(--red);
    line-height: 25px;
    font-weight: 700;
}

.BiodataInfo span {
    color: var(--blue);
    font-weight: 700;
    padding-left: 10px;
    display: block;
}

.BiodataName {
    font-size: x-large;
    font-weight: 700;
    margin-bottom: 20px;
    margin-top: 0;
    color: var(--blue);
}

.Facilitator {
    text-align: center;
    width: 100%;
    margin-top: 10px;
}

.FaclitatorButton {
    border-radius: 20px;
    padding: 10px;
    font-weight: 700;
    color: var(--blue);
    cursor: pointer;
    width: 100%;
    background: var(--green);
    box-sizing: border-box;
    max-width: 200px;
    margin: 10px auto;
    display: block;
    text-decoration: none;
}

.FaclitatorButton:hover {
    background: var(--lightBlue);
    color: var(--white);
}

.Statistics {
    display: flex;
    flex-flow: row nowrap;
    flex: 0 0 50%;
    max-width: 50%;
    /* background: var(--gray); */
    border-radius: 4px;
}

.StatisticsLike {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex: 0 0 33%;
    max-width: 33%;
    text-align: center;
    border-left: 1px solid var(--lightGray);
    border-right: 1px solid var(--lightGray);
}

.StatisticsCollections {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex: 0 0 33%;
    max-width: 33%;
    text-align: center;
    border-right: 1px solid var(--lightGray);
}

.NoAssetStatisticsLike {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex: 0 0 50%;
    max-width: 50%;
    text-align: center;
    border-left: 1px solid var(--lightGray);
    border-right: 1px solid var(--lightGray);
}

.NoAssetStatisticsCollections {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex: 0 0 50%;
    max-width: 50%;
    text-align: center;
    /* border-right: 1px solid var(--lightGray); */
}

.StatisticsAssets {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex: 0 0 33%;
    max-width: 33%;
    text-align: center;
}

.StatisticsCount {
    font-size: xx-large;
    color: var(--red);
    /* overflow-x: auto; */
}

.StatisticsLabel {
    color: var(--blue);
}

.EdgeTri {
    border-right: 40px solid var(--blue);
    height: 0;
    width: 0;
    border-left: 20px solid transparent;
    border-top: 10px solid var(--blue);
    border-bottom: 20px solid transparent;
    padding: 0px;
    top: 0;
    right: 0;
    position: absolute;
    border-radius: 0 5px 0 0;
}

.StarIcon {
    position: absolute;
    top: -5px;
    right: -33px;
    /* color: #fff; */
    border: 0px;
    height: 12px;
}

.LogoutPanelWrapper {
    background: var(--white);
    margin: 10px 0;
    padding: 10px 20px 20px;
    box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, .25);
    border-radius: 5px;
    min-height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.AuthContainer {
    width: 100%;
    text-align: center;
}

.Logout {
    max-width: 160px;
    padding: 10px 0;
    margin: 10px auto;
    background: var(--red);
    color: var(--white);
    border-radius: 20px;
    text-align: center;
    display: block;
    text-decoration: none;
    cursor: pointer;
}

.AdminTools {
    max-width: 160px;
    padding: 10px 0;
    margin: 10px auto;
    background: var(--blue);
    color: var(--white);
    border-radius: 20px;
    text-align: center;
    display: block;
    text-decoration: none;
    cursor: pointer;
}

.DeleteAccount {
    text-align: right;
    width: 100%;
}

.DeleteAccount button {
    color: var(--red);
    font-size: 12px;
    font-weight: 700;
    cursor: pointer;
    background: var(--white);
    border: 1px solid var(--red);
}

@media ( max-width: 875px) {
    .Biodata {
        flex: 0 0 100%;
        max-width: 100%;
        border-right: none;
        padding-right: 0;
        border-bottom: 1px solid var(--lightGray);
    }

    .StatisticsLike {
        border-left: none;
    }

    .NoAssetStatisticsLike {
        border-left: none;
    }

    .Statistics {
        flex: 0 0 100%;
        max-width: 100%;
        height: 100px;
    }

    .StatisticsCount {
        font-size: 30px;
    }

}

@media ( max-width: 550px) {
    .Biodata {
        flex-direction: column;
    }

    .Statistics {
        height: 100%;
        flex-wrap: wrap;
    }

    .StatisticsLike {
        flex: 0 0 100%;
        max-width: 100%;
        border-right: none;
        height: 80px;
        border-bottom: 1px solid var(--lightGray);
    }

    .StatisticsCollections {
        flex: 0 0 100%;
        max-width: 100%;
        border-right: none; 
        height: 80px;
        border-bottom: 1px solid var(--lightGray);
    }

    .NoAssetStatisticsLike {
        flex: 0 0 100%;
        max-width: 100%;
        border-right: none;
        height: 80px;
        border-bottom: 1px solid var(--lightGray);
    }

    .NoAssetStatisticsCollections {
        flex: 0 0 100%;
        max-width: 100%;
        border-right: none; 
        height: 80px;
        border-bottom: 1px solid var(--lightGray);
    }

    .StatisticsAssets {
        flex: 0 0 100%;
        max-width: 100%;
        height: 80px;
    }

    .BiodataEdit {
        text-align: center;
        width: 100%;
    }

    .BiodataName {
        text-align: center;
    }

    /* .BiodataInfo div {
        text-align: center;
    } */

    .BiodataInfo span {
        display: inline-block;
        padding-left: 0;
    }

    .BiodataName {
        font-size: large;
        margin-top: 10px;
    }
}