.TopBoard {
    height: 50px;
    width: 100%;
    background: var(--lightestGray);
}

.Main {
    display: flex;  
    flex-flow: column wrap;
    /* font-weight: bold; */
    text-align: center;
    min-height: 300px;
}

/* .SideMenuContainer {

} */

.Menu {
    display: flex;  
    /* flex-flow: row; */
    flex-wrap: wrap;
    text-align: center;
    background: var(--lightGray);
}

.MenuItem {
    /* min-width: 40px;
    width: 100px; */
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
    text-align: center;
    padding: 15px 0;
    border-left: 1px solid var(--blue);
    box-sizing: border-box;
    background: var(--darkBlue);
    color: var(--lightBlue);
    font-size: x-small;
    cursor: pointer;
}

.MenuItem:hover {
    color: var(--red);
}

.MenuItem:first-of-type{
    border-left: none; 
}

.Content {
    background: var(--lightestBlue);
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
    text-align: center; 
}