.blogItem img {
    width: 100%;
}

.blogItem a {
    text-decoration: none;
}

.savedBlogItem a {
    text-decoration: none;
}

.blogItem figure {
    padding-bottom: 56.25%;
    position: relative;
    margin: 0 0 16px 0;

}

.blogItem figure a {
    display: block;
    height: 100%;
    position: absolute;
    width: 100%;
    background: var(--gray);
}

.blogItem figcaption {
    font-size: 10px;
    text-transform: uppercase;
    text-align: left;
    font-family: 'PT Sans', sans-serif;
    bottom: -1.25em;
    position: absolute;
    width: 100%;
    overflow: hidden;
}

.blogItemPublishDate {
    color: var(--blue);
    font-family: 'PT sans', sans-serif;
    font-size: 12px;
    font-weight: 700;
    padding-top: 8px;
}

.blogItemTitle a:hover {
    color: var(--black);
}

.blogItemTitle a {
    font-family: 'Squada One', Tahoma, 'Segoe UI', Verdana, sans-serif;
    color: var(--blue);
    text-transform: capitalize;
    line-height: 1;
    display: block;
}

 
.blogItemDescription {
    font-family: 'PT Sans', sans-serif; 
    font-size: 18px;
}

.blogItem {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    padding-bottom: 16px;
    margin-bottom: 16px;
    border-bottom: 1px solid var(--gray);
    box-sizing: border-box;
}

.savedBlogItem {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    padding-bottom: 16px;
    margin-bottom: 16px;
    border-bottom: 1px solid var(--gray);
    box-sizing: border-box;
}

.blogItemImage {
    flex: 0 0 30%;
    max-width: 30%;
}

.blogItemInfo {
    flex: 0 0 70%;
    max-width: 70%;
    padding: 0 16px;
    box-sizing: border-box;
}

.savedBlogItemInfo {
    flex-basis: 0;
    flex-grow: 1;
    flex-basis: 100%;
    box-sizing: border-box;
}

.removeSaved {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 8px;
}

.removeSavedButton {
    color: var(--blue);
    border: 2px solid var(--blue);
    font-weight: 700;
    height: 40px;
    width: 72px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--white);
    cursor: pointer;
}

.removeSavedButton:hover {
    background: var(--red);
    color: var(--white);
    border-color: var(--red);
}

.blogItemTitle {
    font-size: 24px;
}

.blogItemDescription {
    font-size: 16px;
}

@media(max-width: 784px) {
    .blogItem {
        flex-flow: column;
    }

    .blogItemImage {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .blogItemInfo {
        flex: 0 0 100%;
        max-width: 100%;
        padding: 16px 0 0 0;
    }
}