.searchBar {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 350;
    height: 80px;  
    margin-bottom: 8px;
    background: var(--white);
}

.searchAndFilter {
    max-width: 568px;
    margin: 0 auto;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    height: 80px;
}

.searchAndFilter form {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
    display: flex;
    align-items: center;
    height: 30px;
    border: 2px solid var(--gray);
    border-radius: 4px;
}

.searchAndFilter form .input {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
    height: 30px;
}

.input input {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    border: 1px solid var(--white);
    padding: 0 8px;
    font-family: 'Nunito', Arial, Helvetica, sans-serif;
    font-size: 14px;
}

.searchDisabledButton {
    width: 30px;
    height: 30px;
    border: none;
    background: var(--white);
    cursor: not-allowed;
}

.searchDisabledButton svg {
    height: 20px;
    width: 20px;
    fill: var(--gray);
}

.searchAllowedButton {
    width: 30px;
    height: 30px;
    cursor: pointer;
    border: none;
    background: var(--white);
}

.searchAllowedButton svg {
    height: 20px;
    width: 20px;
    fill: var(--blue);
}

.closeButton {
    border: none;
    width: 30px;
    height: 30px;
    padding: 0;
    margin-left: 8px;
    background: var(--blue);
    border-radius: 4px;
    margin-left: 8px;
}

.closeButton:hover {
    background: var(--green);
}

.closeButton svg {
    height: 20px;
    width: 20px;
    fill: var(--white);
    cursor: pointer;
    vertical-align: middle;
}

.searchResultContainer {
    position: fixed;
    width: 568px;
    z-index: 350;
    left: 0;
    right: 0;
    margin: 0 auto;
    min-height: calc(100vh - 80px);
    max-height: calc(100vh - 80px);
    padding: 16px;
    box-sizing: border-box;
    overflow-y: auto;
    top: 80px;
    background-color: var(--white);
    /* min-height: 100%; */
    border-top: 2px solid var(--blue);
    border-bottom: 2px solid var(--blue);
}

.changeSearchString {
    border: none;
    background: var(--gray);
    text-decoration: underline;
    margin-top: 8px;
    color: var(--blue);
    font-size: 14px;
    padding: 4px;
    border-radius: 4px;
    cursor: pointer;
}

.searchItem {
    padding: 16px 0;
    border-bottom: 1px solid var(--gray); 
}

.searchItem a {
    text-decoration: none;
    color: var(--blue);
    font-weight: 700;
    word-break: break-all;
}

.searchItem a:hover {
    color: var(--gray);
}

.searchItemType {
    text-align: right;
    font-size: 12px;
    font-weight: 700;
    color: var(--blue);
    margin-top: 4px;
}

.searchItemType span {
    background: var(--green);
}

.filterInfo span {
    background: var(--blue);
    color: var(--white);
    display: inline-block;
    padding: 2px 4px;
    margin-right: 4px;
    border-radius: 4px;
}

.filterContainer {
    position: absolute;
    top: 88px;
    left: 0;
    right: 0;
    z-index: 300;
    text-align: right;
    width: 568px;
    margin: 0 auto;
}

.filter {
    display: inline-flex;
    box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.4);
    max-width: 400px;
    background: var(--white);
    opacity: .90;
    padding: 8px;
    border-radius: 8px;
    margin: 0 8px;
}

.filterField {
    border-color: var(--blue);
}

.filterField legend {
    text-transform: capitalize;
    font-weight: 700;
    color: var(--blue);
}

.checkboxGroup {
    display: flex;
    flex-flow: row wrap;
}

.checkboxGroup div {
    margin: 0 8px;
}

.noResult {
    margin-top: 16px;
}

.noResult h2 {
    margin-left: 8px;
}

.noResult div {
    margin-left: 16px;
}

.noResult ol {
    list-style-type: disc;
}

.noResult li {
    font-size: 16px;
}

@media(max-width: 600px) {

    .searchResultContainer,
    .filterContainer,
    .searchBar {
        width: 100%;
    }

    .searchAndFilter {
        margin: 0 16px;
    }
}