.editorContainer {
  margin: 0em;
  /* padding: 2em; */
  padding: 0 10px;
  padding-bottom: 10px;
  border-left: #f6f7fb solid 2px;
  color: #2C3A51;
  text-align: left;
  position: relative;
  overflow-y: hidden;
  overflow-x: hidden;
  order: 2;
  /* height: 100vh; */
  /* flex: 1 1 auto;
  flex-basis: 60%;
  min-width: 60%;
  max-width: 100%; */
  flex: 0 0 70%;
  max-width: 70%;
  /* background: #FBFAFA; */
  background: var(--gray);
  align-items: center;
  align-self: stretch;
  box-sizing: border-box;
}

.editorHeader {
  font-size: 1.25em;
  text-align: left;
}

.editorHeader textarea {
  height: 60px;
  resize: none;
}

.draftInputWrapper {
  display: flex;
  width: 100%;
  margin-bottom: 5px;
}

.draftInput {
  font-size: 14.5px;
  line-height: 20px;
  height: 20px;
  letter-spacing: 0.7px;
  /* font-family: "Open Sans"; */
  font-family: 'PT Mono', monospace;
  border-bottom: #f6f7fb solid 2px;
  border-top: none;
  border-left: none;
  border-right: none;
  width: 100%;
  position: inline;
  padding: 0.5em;
  border-radius: 4px;
  /* margin-left: 0.6em */
}

.draftTitleInput {
  font-size: 14.5px;
  line-height: 20px;
  height: 20px;
  letter-spacing: 0.7px;
  /* font-family: "Open Sans"; */
  font-family: 'PT Mono', monospace;
  border-bottom: #f6f7fb solid 2px;
  border-top: none;
  border-left: none;
  border-right: none;
  width: 100%;
  /* position: inline; */
  padding: 0.5em;
  border-radius: 4px 0 0 4px;
  /* margin-left: 0.6em */
}

.submitNote {
  border-radius: 10px;
  font-size: 13px;
  /* float: right; */
  display: inline;
  padding: 0.5em;
  color: white;
  border: none;
  background-color:#ff5370;
  margin: 0.35em;
}

.editors {
  border: none;
  /* border-radius: 4px; */
  border-radius: 0 0 4px 4px;
  padding: 1em 1.5em 3em 1.5em;
  /* margin: -0.2em 0.6em 1em 0.6em; */
  /* font-family: "Helvetica"; */
  font-family: 'PT Mono', monospace;
  line-height: 1.4;
  color: #2C3A51;
  font-size: 16px;
  text-align: left;
  background-color: white;
  box-shadow: 0 0 5px rgba(0,0,0,.1);
  /* min-height: 36%; */
  overflow-x:hidden;
  overflow-y:auto;
  position: relative;
  height: 40vh;
  font-size: 90%;
}

.editors a {
  color: blue;
}

.editors img {
  width: 100%;
}

.toolbar {
  border: var(--white) solid 2px;
  text-align: center;
  /* font-family: 'IBM Plex Sans', sans-serif; */
  background-color: var(--gray);
  /* margin: 0.5em 0.5em 0em 0.5em; */
  padding: 0.5em;
  /* border-radius: 4px; */
  border-radius: 4px 4px 0 0;
  /* box-shadow: 0 0 5px rgba(0,0,0,.1); */
}

.styleButton {
  padding: 6px 12px;
  background: white;
  border: none;
  color: #ff595a;
  margin: 0.35em;
  /* max-width: 35px; */
  /* min-width: 30px; */
  /* font-family: 'IBM Plex Sans', sans-serif; */
  font-size: 13px;
  height: 2.25em;
  cursor: pointer;
}

.styleButtonActive {
  background-color: #feb47b;
  color: white;
} 

.bold {
  font-weight: 800;
}
  
.italic {
  font-style: italic;
}
  
.underline {
  text-decoration: underline;
}

.select {
  padding: 0.5em;
  background: white;
  border: none;
  color: #ff595a;
  margin: 0.35em;
  border-radius: 6px;
  /* font-family: 'IBM Plex Sans', sans-serif; */
  font-size: 13px;;
  height: 2.25em;
}

.editorControls {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-end;
  height: 60px;
  align-items: center;
  /* padding: 0 10px 10px 0; */
}

.editorControls button {
  padding: 0 10px;
  width: 100%;
  border-radius: 10px;
  height: 30px;
  margin: 0 5px;
  border-style: none;
  cursor: pointer;
  font-weight: 700;
  /* color: var(--blue); */
}

.deleteHeroImage button {
  padding: 0 10px;
  border-radius: 10px;
  height: 30px;
  border-style: none;
  cursor: pointer;
  font-weight: 700;
  background: var(--red);
  color: var(--white);
}

.deleteHeroImage {
  padding: 5px 0;
  text-align: right;
}

.saveButton, .publishButton, .deleteButton {
  display: inline-flex;
}

.saveButton button {
  background: var(--white);
  color: var(--red);
}

.publishButton button {
  background: var(--green);
  color: var(--blue);
}

.deleteButton button {
  background: var(--red);
  color: var(--white);
}

.addFeaturedImageButton {
  display: inline-flex;
}

.addFeaturedImageButton button {
  background: var(--blue);
  color: var(--white);
  /* padding: 0 10px; */
  /* width: 100%; */
  border-radius: 0 4px 4px 0;
  /* height: 30px; */
  /* margin: 0 5px; */
  border-style: none;
  cursor: pointer;
  font-weight: 700;
}

.titleFieldWrapper {
  display: flex;
  width: 100%;
}

.heroImage {
  width: 100%
}


.fillError {
  color: var(--red);
  font-size: small;
  font-weight: bold;
  text-align: center;
}

.editors figure {
  margin: 0;
}

.editorHeader figure {
  margin: 0 0 5px;
}

.editorHeader figcaption, .editors figcaption {
  font-size: small;
  font-family: 'Comfortaa', cursive;
}

.editorHeader figure div, .editors figure div {
  font-size: small;
  font-family: 'Comfortaa', cursive;
}


