.editorContainer {
  margin: 0em;
  padding: 0 10px;
  padding-bottom: 10px;
  border-left: 2px solid var(--white);
  text-align: left;
  position: relative;
  overflow-y: hidden;
  overflow-x: hidden;
  order: 2;
  flex: 0 0 65%;
  max-width: 65%;
  background: var(--gray);
  align-items: center;
  align-self: stretch;
  box-sizing: border-box;
}

.editorHeader {
  font-size: 1.25em;
  text-align: left;
}

.editorHeader textarea {
  height: 60px;
  resize: none;
}

.draftInputWrapper {
  display: flex;
  width: 100%;
  margin-bottom: 5px;
}

.draftInput {
  font-size: 14.5px;
  line-height: 20px;
  letter-spacing: 0.7px;
  font-family: 'PT Mono', monospace;
  border-bottom: 2px solid var(--white);
  border-top: none;
  border-left: none;
  border-right: none;
  width: 100%;
  position: inline;
  padding: 0.5em;
  border-radius: 4px;
}

.draftTitleInput {
  font-size: 14.5px;
  line-height: 20px;
  height: 20px;
  letter-spacing: 0.7px;
  font-family: 'PT Mono', monospace;
  border-bottom: 2px solid var(--white);
  border-top: none;
  border-left: none;
  border-right: none;
  width: 100%;
  padding: 0.5em;
  border-radius: 4px 0 0 4px;
}

/* .submitNote {
  border-radius: 10px;
  font-size: 13px;
  display: inline;
  padding: 0.5em;
  color: white;
  border: none;
  background-color:#ff5370;
  margin: 0.35em;
} */

.editors {
  border: none;
  border-radius: 0 0 4px 4px;
  padding: 1em 1.5em 3em 1.5em;
  font-family: 'PT Mono', monospace;
  line-height: 1.4;
  /* color: #2C3A51; */
  font-size: 16px;
  text-align: left;
  background-color: var(--white);
  box-shadow: 0 0 5px rgba(0,0,0,.1);
  overflow-x:hidden;
  overflow-y:auto;
  position: relative;
  height: 40vh;
  font-size: 90%;
}

.editors a {
  color: var(--blue);
}

.editors img {
  max-width: 100%;
}

.toolbar {
  /* border: var(--white) solid 2px; */
  border-bottom: 2px solid var(--gray);
  text-align: center;
  background-color: var(--white);
  padding: 0.5em;
  border-radius: 4px 4px 0 0;
  /* outline: none; */
}

/* .toolbar > * {
  outline: none;
} */

.toolbar svg {
  height: 100%;
  width: 100%;
  fill: var(--blue);
}

.inlineStyles {
  display: flex;
  justify-content: center;
  flex-wrap: wrap
}

.blockStyles {
  display: flex;
  justify-content: center;
  flex-wrap: wrap
}

.styleButton {
  padding: 8px;
  border-radius: 8px;
  background: var(--white);
  border: 1px solid var(--green);
  margin: 0.35em;
  font-size: 13px;
  width: 22px;
  height: 22px;
  /* height: 2.25em; */
  cursor: pointer;
  outline: none;
}

.styleButtonActive {
  background-color: var(--green);
} 

.bold {
  font-weight: 800;
}
  
.italic {
  font-style: italic;
}
  
.underline {
  text-decoration: underline;
}

.blockTypeHeadings {
  display: inline-flex
}

.blockSelect {
  padding: 0.5em;
  background: var(--white);
  border: 1px solid var(--green);
  /* border: none; */
  color: var(--blue);
  margin: 0.35em;
  border-radius: 6px;
  /* font-family: 'IBM Plex Sans', sans-serif; */
  font-size: 13px;;
  /* height: 2.25em; */
}

.blockSelectActive {
  background: var(--green);
}

.editorControls {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-end;
  height: 60px;
  align-items: center;
  /* padding: 0 10px 10px 0; */
}

.editorControls button {
  padding: 0 10px;
  width: 100%;
  border-radius: 10px;
  height: 30px;
  margin: 0 5px;
  border-style: none;
  cursor: pointer;
  font-weight: 700;
  /* color: var(--blue); */
}

.deleteHeroImage button {
  padding: 0 10px;
  border-radius: 10px;
  height: 30px;
  border-style: none;
  cursor: pointer;
  font-weight: 700;
  background: var(--red);
  color: var(--white);
}

.deleteHeroImage {
  padding: 5px 0;
  text-align: right;
}

.saveButton, .publishButton, .deleteButton {
  display: inline-flex;
}

.saveButton button {
  background: var(--white);
  color: var(--red);
}

.publishButton button {
  background: var(--green);
  color: var(--blue);
}

.deleteButton button {
  background: var(--red);
  color: var(--white);
}

.addFeaturedImageButton {
  display: inline-flex;
}

.addFeaturedImageButton button {
  background: var(--blue);
  color: var(--white);
  border-radius: 0 4px 4px 0;
  border-style: none;
  cursor: pointer;
  font-weight: 700;
}

.titleFieldWrapper {
  display: flex;
  width: 100%;
}

.heroImageWrapper {
  background: var(--white);
  padding: 20px;
  border-radius: 4px;
}

.heroImage {
  width: 100%
}


.fillError {
  color: var(--red);
  font-size: small;
  font-weight: bold;
  text-align: center;
}

.editors figure {
  margin: 0;
  text-align: center;
}

.editorHeader figure {
  margin: 0 0 5px;
}

.editorHeader label {
  font-size: small;
  font-weight: bold;
  color: var(--blue);
}

.editorHeader figcaption, .editors figcaption {
  font-size: small;
  font-family: 'Comfortaa', sans-serif;
  text-align: left;
}

.editorHeader figure p, .editors figure p {
  font-size: small;
  font-family: 'Comfortaa', sans-serif;
  text-align: left;
}

.editors figure div {
  text-align: center;
}

.editors figure iframe {
  width: 100%;
  /* min-width: 320px; */
}

.tagButton {
  background: var(--gray);
  padding: 6px;
  margin: 6px;
  border-radius: 6px;
  font-family: 'PT Mono', monospace;
  font-size: medium;
}

.removeTag {
  background: var(--white);
  padding: 0 10px;
  margin-left: 4px;
  border-radius: 4px;
  cursor: pointer;
}

.tagsContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; 
}

.draftTagInputWrapper {
  /* font-family: 'PT Mono', monospace; */
  background: var(--white);
  /* display: flex; */
  width: 100%;
  margin-bottom: 5px;
  border-radius: 4px;
  padding: 4px;
  box-sizing: border-box;
}

.draftTagInput {
  font-size: 14.5px;
  line-height: 20px;
  /* height: 20px; */
  letter-spacing: 0.7px;
  /* font-family: "Open Sans"; */
  font-family: 'PT Mono', monospace;
  border: 2px solid var(--gray);
  width: 100%;
  position: inline;
  padding: 0.5em;
  border-radius: 4px;
  /* margin-left: 0.6em */
}

.tagWrapperTitle {
  font-family: 'PT Mono', monospace;
  font-size: medium;
  padding-left: 6px;
}

@media(max-width: 900px) {
  .editorContainer {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

@media(max-width: 380px) {
  .inlineStyles, .blockStyles {
    width: 200px;
    margin: 0 auto;
  }
}


