/* .featuredBlogsSection {
    margin: 0 8px;
} */

.featuredSectionTop {
    display: flex;
    border-bottom: 1px solid var(--gray);
    padding-bottom: 16px;
}

.featuredSectionTopAd {
    width: 100%;
    margin: 32px auto;
    box-sizing: border-box;
}

.featuredSectionBottomAd {
    width: 100%;
    margin: 32px auto;
    box-sizing: border-box;
}

.adFull {
    width: 728px;
    height: 90px;
    background-position-x: center;
    background-position-y: center;
    background-size: cover;
    background-repeat: no-repeat;
    background: url('../../../assets/art/head-art/ad_728X90.png');
    margin: auto;
}

.adMedium {
    width: 300px;
    height: 250px;
    background-position-x: center;
    background-position-y: center;
    background-size: cover;
    background-repeat: no-repeat;
    background: url('../../../assets/art/head-art/banner_ad300X250.png');
    margin: auto;
}

.featuredSectionMiddle {
    width: 100%;
}

.featuredSectionBottom {
    display: flex;
    border-bottom: 1px solid var(--gray);
    border-top: 1px solid var(--gray);
    padding: 16px 0;
}

.featuredSectionBottomost {
    display: none;
}

.featuredBlogsSection img {
    width: 100%;
}

.featuredBlogsSection figure {
    margin: 0
}

.featuredBlogsSection a {
    text-decoration: none;
}

.featuredBlogsSection figcaption {
    font-size: x-small;
    text-transform: capitalize;
    text-align: right;
    font-family: 'PT Sans', sans-serif;
}

.featuredCoverCategory a, 
.featuredMediumCategory a,
.featuredSmallCategory a,
.featuredLargeCategory a {
    font-family: 'PT Sans', sans-serif;;
    color: var(--red);
    font-size: small;
    text-transform: uppercase;
    font-weight: bold;
}

.featuredCoverTitle a:hover, 
.featuredMediumTitle a:hover,
.featuredSmallTitle a:hover,
.featuredLargeTitle a:hover {
    color: var(--black);
}

.featuredCoverTitle a, 
.featuredMediumTitle a,
.featuredSmallTitle a,
.featuredLargeTitle a {
    /* font-family: 'Lalezar', Tahoma, 'Segoe UI', Verdana, sans-serif; */
    /* font-family: 'Baloo', Tahoma, 'Segoe UI', Verdana, sans-serif; */
    font-family: 'Fredoka One', Tahoma, 'Segoe UI', Verdana, sans-serif;
    color: var(--blue);
    text-transform: capitalize;
    line-height: 1;
    display: block;
}

.featuredCoverContainer {
    display: flex;
    flex: 0 0 50%;
    max-width: 50%; 
    padding: 0 16px;
    box-sizing: border-box;
}

.featuredCover {
    width: 100%;
}

.featuredCoverTitle {
    font-size: 32px;
}

.featuredCoverDescription, 
.featuredLargeDescription {
    font-family: 'PT Serif', serif; 
    font-size: 18px;
}

.featuredLargeContainer {
    display: flex; 
    /* padding: 0 16px; */
    box-sizing: border-box;
}

.featuredLarge {
    width: 100%;
    display: flex;
    flex: 0 0 25%;
    max-width: 25%;
    flex-flow: column;
    padding: 0 16px;
    border-right: 1px solid var(--gray);
    box-sizing: border-box;
}

.featuredLarge:first-of-type {
    padding-left: 0;
}

.featuredLarge:last-of-type {
    border-right: none;
    padding-right: 0;
}

.featuredLargeTitle {
    font-size: 24px;
}

.featuredLargeDescription {
    font-size: 16px;
}

.featuredMediumContainer {
    display: flex;
    flex: 0 0 25%;
    max-width: 25%;
    flex-flow: column;
    box-sizing: border-box;
    padding-right: 16px;
    border-right: 1px solid var(--gray);
}

.featuredMediumMiddleContainer {
    display: flex;
    flex-flow: row;
    box-sizing: border-box;
    padding: 16px 0;
    border-top: 1px solid var(--gray);
}

.featuredSmallMiddleContainer {
    display: none;
}

.featuredMedium {
    padding: 16px 0;
    border-top: 1px solid var(--gray);
    box-sizing: border-box;
}

.featuredMedium:first-of-type {
    padding-top: 0;
    border-top: none;
}

.featuredMediumTitle {
    font-size: 24px;
}

.featuredSmallContainer {
    display: flex;
    flex: 0 0 25%;
    max-width: 25%;
    flex-flow: column;
    padding-left: 16px;
    box-sizing: border-box;
    border-left: 1px solid var(--gray);
}

.featuredSmallBottommostContainer {
    display: flex;
    flex-flow: column;
    box-sizing: border-box;
    /* padding: 16px 0; */
    border-top: 1px solid var(--gray);
}

.featuredSmall {
    width: 100%;
    display: flex;
    flex-flow: row-reverse;
    padding: 16px 0;
    border-top: 1px solid var(--gray);
    box-sizing: border-box;
}

.featuredSmall:first-of-type {
    padding-top: 0;
    border-top: none;
}

.featuredSmallTitle {
    font-size: 20px;
}

.featuredSmall figure {
    padding-left: 8px;
}

.featuredSmallImage {
    width: 78px;
    height: 78px;
    background-position-x: center;
    background-position-y: center;
    background-size: cover;
    background-repeat: no-repeat;
}

@media(max-width: 1100px) {
    .featuredSmall figure {
        display: none;
    }

    .featuredSmall {
        display: block;
    }

}

@media(min-width: 977px) {
    .featuredSectionMiddle {
        display: none;
    }

    .adMedium {
        display: none;
    }
}

@media(max-width: 976px) {   
    .adFull {
        display: none;
    }

    .featuredCoverContainer {
        padding-left: 0
    }

    .featuredMediumContainer {
        display: none
    } 

    .featuredMedium {
        display: flex;
        flex-direction: row-reverse;
    }

    .featuredMedium figure {
        flex: 0 0 50%;
        max-width: 50%;
        padding-left: 8px;
        box-sizing: border-box;
    }

    .featuredMediumInfo {
        flex: 0 0 50%;
        max-width: 50%;
    }

    .featuredSmallContainer {
        flex: 0 0 50%;
        max-width: 50%;
    }

    .featuredSmall figure {
        display: block;
    }

    .featuredSmall {
        display: flex;
        justify-content: space-between;
    }

    .featuredMedium {
        padding: 0 16px;
        border-top: none;
        box-sizing: border-box;
    }
    
    .featuredMedium:first-of-type {
        padding-left: 0;
        border-right:1px solid var(--gray);
    }

    .featuredMedium:last-of-type {
        padding-right: 0;
    }
}

@media(max-width: 784px) {

    .featuredLargeContainer {
        flex-flow: row wrap;
    }

    .featuredLarge {
        flex: 0 0 50%;
        max-width: 50%;
    }

    .featuredLarge:first-of-type {
        margin-bottom: 32px;
    }

    .featuredLarge:nth-of-type(2n) {
        border-right: none;
        padding-right: 0;
    }
    
    .featuredLarge:nth-of-type(2n+1) {
        padding-left: 0;
    }

    .featuredMedium {
        display: block;
    }

    .featuredMedium figure {
        padding-left: 0;
        max-width: 100%;
    }

    .featuredMediumInfo {
        max-width: 100%;
    }
}

@media(max-width: 576px) {
    .featuredCoverContainer {
        flex: 0 0 100%;
        max-width: 100%;
        padding: 0;
    }

    .featuredMediumMiddleContainer {
        flex-flow: column;
        border-bottom: 1px solid var(--gray);
    }

    .featuredMedium {
        padding: 16px 0;
        border-bottom: 1px solid var(--gray);
        box-sizing: border-box;
    }
    
    .featuredMedium:first-of-type {
        border-right:none;
    }

    .featuredMedium:last-of-type {
        border-bottom: none;
    }

    .featuredSectionBottom {
        display: none;
    }

    .featuredSectionBottomost {
        display: block;
    }

    .featuredSmallContainer {
        display: none;
    }

    .featuredSmallMiddleContainer {
        display: flex;
        flex-flow: column;
        box-sizing: border-box;
        padding: 16px 0;
        border-top: 1px solid var(--gray);
    }
}