.Description {
    color: var(--blue);
    font-weight: 700;
    text-align: center;
    padding: 8px;
    background: var(--green);

}

.CollectionWrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 10px;
}

.featuredCollectionWrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 10px;
    background: var(--green);
}

.featuredCollectionWrapper h2 {
    color: var(--blue);
    font-weight: 900;
    font-size: 16px;
    flex: 0 0 100%;
    margin: 0;
    box-sizing: border-box;
    text-align: center;
    text-transform: uppercase;
}

.SubjectWrapper form {
    margin: 0;
    border-radius: 0;
    /* background: var(--lightBlue); */
}

.SubjectWrapper form label {
    font-size: medium;
    color: var(--green);
}