.blogFooter {
    background: var(--lightGray);
}

.sectionContainer {
    display: flex;
    flex-flow: row wrap;
    padding: 32px 16px 0 16px;
}

.section { 
    flex: 0 0 33.3%;
    max-width: 33.3%;
    padding: 0 32px 32px 0;
    box-sizing: border-box;
}

.section:nth-of-type(3), 
.section:last-of-type {
    padding-right: 0;
}

.sectionTitle {
    font-family: 'Squada One', Impact, 'Arial Narrow Bold', sans-serif;
    text-transform: uppercase;
    color: var(--blue);
    font-size: 24px;
    border-bottom: 1px solid var(--blue);
    padding-bottom: 8px;
}

.blogFooterItem {
   padding: 16px; 
   border-bottom: 1px solid var(--white);
}

.blogTitle {
    /* font-family: 'PT Sans', sans-serif;  */
    font-family: 'PT Sans', sans-serif;
    font-size: 18px;
}

.blogTitle a {
    text-decoration: none;   
    color: var(--black);
}

@media(max-width: 576px) {
    .sectionContainer {
        flex-flow: column nowrap;
        padding: 16px;
    }

    .section {
        flex: 0 0 100%;
        max-width: 100%;
        padding: 16px 0;
    }
}