.SideDrawer {
    position: fixed;
    width: 320px;
    max-width: 70%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 200;
    background-color: var(--green);
    box-sizing: border-box;
    transition: transform 0.1s ease-out;
    overflow-y: auto;
}

.Open {
    transform: translateX(0);
}

.Close {
    transform: translateX(-100%);
}

.LogoContainer {
    text-align: center;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    background-color: var(--blue);
}

@media (min-width: 901px) {
    .SideDrawer {
        display: none;
    }
}

