.SideDrawer {
    position: fixed;
    width: 320px;
    max-width: 70%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 200;
    background-color: var(--white);
    box-sizing: border-box;
    transition: transform 0.1s ease-out;
    overflow-y: auto;
}

.Open {
    transform: translateX(0);
}

.Close {
    transform: translateX(-100%);
}

.LogoContainer {
    text-align: center;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    background-color: var(--blue);
}

.SvgLogo {
    display: inline-block;
    text-align: center;
    height: 100%;
    width: 160px;
    margin: 0;
}

.SvgLogo:hover {
    fill: var(--green);
}

@media (min-width: 900px) {
    .SideDrawer {
        display: none;
    }
}

