/* .featuredBlogsSection img {
    width: 100%;
}

.featuredBlogsSection figure {
    margin: 0;
} */

.resource {
    /* box-sizing: border-box; */
    flex: 0 0 240px;
    max-width: 240px;
    margin-right: 16px;
    border-radius: 8px;
    overflow: hidden;
    /* border: 2px solid var(--lightGray); */
    display: inline-block;
    text-decoration: none;
    background: var(--white);
}

.resource:last-of-type {
    padding-right: 0;
}

.resource img {
    max-width: 100%;
    height: auto;
}

.resource figure {
    margin: 0;
    padding-bottom: 56.25%;
    position: relative;
    margin-bottom: 9px;
    border-bottom: 2px solid var(--lightGray);
}

.resourceImage {
    width: 100%;
    height: 100%;
    position: absolute;
    background: var(--lightBlue);
    background-position-x: center;
    background-position-y: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.resourceTitle {
    font-size: 16px;
    text-align: left;
    padding: 0 8px;
    font-weight: 700;
    color: var(--blue);
    height: 70px;
    display: flex;
    align-items: flex-start;
    word-break: break-word;
    text-transform: capitalize;
}

.source, .type {
    color: var(--lightBlue);
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 700;
    padding: 0 8px;
    margin-bottom: 4px;
    /* text-align: center; */
}

.source span, .type span {
    color: var(--blue);
    background: var(--lightGray);
    text-transform: none;
    margin-left: 8px;
    font-size: 14px;
}

.info {
    position: absolute;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition-property: all .3s ease;
}

.info svg {
    height: 40px;
    width: 40px;
    fill: var(--green);
}

.overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 1;
    background: rgba(0, 0, 0, .7);
    opacity: 0;
    transition-property: all .3s ease;
}

.resource:hover .overlay, .resource:hover .info {
    opacity: 1;
}