.ContainerItem {
    padding: 5px;
    text-align: center;
    max-width: 400px;
    margin: auto;
}

.HeaderWrapper {
    display: flex;
    flex-wrap: wrap;
    background: var(--blue);
}

.TitleColumn {
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
}

.Title {
    padding: 14px;
    overflow-x: auto;
    color: var(--green);
    font-weight: 400;
}

.OptionsColumn {
    padding-right: 5px;
    margin: auto;
}

.EditIconRow {
    width: 40px;
    height: 40px;
    display: inline-block;
    box-sizing: border-box;
    vertical-align: middle;
    cursor: pointer;
    text-align: center;
    font-weight: 400;
    background-image: url('../../assets/images/edit.svg');
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    background-size: 60%;
}

.EditIconRow:hover {
    background-image: url('../../assets/images/edit-focus.svg');
}

.ShareIconRow {
    width: 40px;
    height: 40px;
    display: inline-block;
    box-sizing: border-box;
    vertical-align: middle;
    cursor: pointer;
    text-align: center;
    font-weight: 400;
    background-image: url('../../assets/images/share-alt.svg');
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    background-size: 50%;
}

.ShareIconRow:hover {
    background-image: url('../../assets/images/share-alt-focus.svg');
}

.DeleteIconRow {
    width: 40px;
    height: 40px;
    display: inline-block;
    box-sizing: border-box;
    vertical-align: middle;
    cursor: pointer;
    text-align: center;
    font-weight: 400;
    background-image: url('../../assets/images/trash-alt-req2.svg');
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    background-size: 50%;
}

.DeleteIconRow:hover {
    background-image: url('../../assets/images/trash-alt-req-focus.svg');
}

.PublicTag {
    font-size: x-small;
    font-weight: 700;
    padding: 5px;
    border-radius: 10px;
    background: var(--skyBlue);
    color: var(--blue);
    display: inline-block;
    margin: 10px;
}

@media( max-width: 380px) {
    .Title {
       width: 200px;
    }
}

.Notype {
    padding-top: 20px;
    color: var(--green);
    font-weight: 400;
}

.DialogueMessage {
    text-align: center;
}

.DialogueMessage form {
    margin: 10px 20px;
}

.DialogueMessage Button {
    margin-top: 10px;
}

/* .Form {
    background: var(--blue);
    padding: 10px;
    margin: 10px 20px;
    border-radius: 20px;
    text-align: center;
}

.Form textarea {
    border-radius: 5px;
    resize: none;
}

.Form Button {
    margin-top: 10px;
}

.Form label {
    margin-top: 0px;
    font-weight: 400;
    font-size: small;
}

.Form select {
    font-weight: 400;
}

.Form input {
    font-weight: 400;
} */

.AddFeedbackInfo {
    color: var(--green);
    font-weight: 400;
    padding: 5px;
    font-size: small;
    display: inline;
}

.ErrorFeedbackInfo {
    color: var(--red);
    padding: 5px;
    font-size: small;
    display: inline;
}

.FillError {
    color: var(--red);
    font-size: small;
    font-weight: 400;
    max-width: 180px;
    margin: auto;
    padding: 2px;
}

.ViewFilteredWrapper {
    text-align: right;
    background: var(--green);
}

.ViewFiltered {
    padding: 8px;
    background: var(--blue);
    /* border: 2px solid var(--darkBlue); */
    text-decoration: none;
    color: var(--white);
    cursor: pointer;
    text-align: right;
    margin: 10px 10px 10px 0;
    display: inline-block;
    border-radius: 20px;
    font-size: small;
    font-weight: 400;
    /* text-transform: lowercase; */
}

.ViewFiltered:hover {
    background: var(--skyBlue);
    color: var(--darkBlue);
}

.SearchForm {
    padding: 0 10px 10px 10px;
    margin: 0;
}

.SearchForm textarea {
    border-radius: 5px;
    resize: none;
    border: 2px solid var(--darkGreen);
    padding: 5px;
    font-weight: 400;
}

.SearchForm label {
    display: none;
}