:root {
    --darkBlue: #0a0426;
    --blue: #3a2d80;
    --green: #40ff70;
    --red: #de3535;
    --orange: #ebbe17;
    --white: #ffffff;
    --gray: #cccccc;
}

.richEditor-code-block, div.richEditor-code-block {
    color: #90caf9;
    line-height: 1.2;
    padding: 3px;
    margin-left: 4px;
    background-color: black;
    font-family: "Andale Mono";
    font-size: 13px;
    box-sizing: border-box;
    white-space: pre-wrap;
    display: block;
  
}

.richEditor-blockquote {
    font-size: large;
    color: red;
    border-left: 3px solid red;
    padding-left: 10px;
}


html, body {
    margin: 0;
    padding: 0;
    /*font-family: 'Open Sans', sans-serif;*/
    /* font-family: 'Ubuntu', sans-serif; */
    font-family: 'Comfortaa', cursive;
}