:root {
    --darkBlue: #0a0426;
    --blue: #3a2d80;
    --green: #40ff70;
    --red: #de3535;
    --orange: #ebbe17;
    --white: #ffffff;
    --gray: #cccccc;
}


html, body {
    margin: 0;
    padding: 0;
    /*font-family: 'Open Sans', sans-serif;*/
    /* font-family: 'Ubuntu', sans-serif; */
    font-family: 'Comfortaa', cursive;
}