:root {
    --lightBlue: #4a44f2;
    --blue: #3726a6;
    --green: #b0f235;
    --darkGreen: #96d926;
    --red: #f20505;
    --white: #ffffff;
    --gray: #dfdfdf;
    --lightGray: #eee;
    --black: #000000;

    /* transparency color variables */

    --transBlue: 55,38,166;
    --transWhite: 255,255,255;
    --transBlack: 0,0,0;
}

.richEditor-code-block, div.richEditor-code-block {
    color: var(--gray);
    line-height: 1.2;
    padding: 4px;
    margin-left: 4px;
    background-color: var(--blue);
    font-weight: 700;
    font-size: 13px;
    box-sizing: border-box;
    white-space: pre-wrap;
    display: block;
  
}

.richEditor-blockquote {
    /* font-size: large; */
    color: var(--red);
    border-left: 3px solid var(--red);
    padding-left: 10px;
}

.youtubeVideoEmbed {
    text-align: center;
    margin: 32px 0;
}

.youtubeVideoEmbed iframe {
    max-width: 100%;
}

.twitterEmbed {
    margin-top: 32px;
    margin-bottom: 32px;
}

.twitterEmbed twitter-widget {
    margin-right: auto;
    margin-left: auto;
}

.blogPostHighlights {
    background: var(--green);
}

.dropcap:first-child:first-letter {
    color: var(--green);
    float: left;
    font-family: "Squada One";
    font-size: 80px;
    line-height: 60px;
    padding-top: 4px;
    padding-right: 8px;
    padding-left: 3px;
}

html, body {
    margin: 0;
    padding: 0;
    font-family: 'Nunito', Arial, Helvetica, sans-serif;
}

@media(max-width: 576px) {
    .twitterEmbed twitter-widget {
        /* max-width: 300px !important; */
        width: 100% !important;
    }
}

/* @media(max-width: 360px) {
    .twitterEmbed twitter-widget {
        max-width: 220px !important;
    }
} */


/*  
font-family: 'Comfortaa', cursive;
font-family: 'Manjari', sans-serif;
font-family: 'Squada One', cursive;
font-family: 'Baloo', cursive;
font-family: 'PT Sans', sans-serif;
font-family: 'PT Sans', sans-serif;
font-family: 'PT Mono', monospace;
font-family: 'Squada One', cursive;
*/