.ContainerItem {
    /* padding: 5px; */
    max-width: 500px;
    margin: auto;
}

.ContainerItem span {
    display: none;
}

.ContainerItem button {
 font-size: small;
 width: 100px;
 height: 50px;
 border-radius: 25px;
 padding: 0;
}