.UniversalWrapper {
    width: 100%;
    min-height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}

.Register {
    padding: 10px 30px;
  }


.ValidationErrors {
    /* position: relative; */
    margin-top: 0px; 
}

.ValidationErrors p {
    color: var(--red);
    font-size: 13px;
    font-weight: 500
}

.Error {
    color: var(--red);
    font-size: 13px;
    font-weight: 500;
    text-align: center;
    margin: 0;
}

.HeaderItem {
    display: inline;
    margin: 20px;
    color: var(--red);
    padding-bottom: 3px;
    border-bottom: 3px solid var(--green);
    cursor: pointer;
  }

.container {
    position: relative;
    left: calc(50% - 210px);
    /* top: calc(50% - 260px); */
    width: 420px;
    /* height: 520px; */
    margin-top: 5%;
    /* box-shadow: 0px 0px 0px 1px var(--blue); */
    overflow-y: auto;
    background-color: var(--darkBlue);
    border-radius: 40px;
    z-index: 200;
    margin-bottom: 5%;
    }


.Logo {
    text-align: center;
    background: var(--blue);
    display: block;
}

.Logo:hover {
    background: var(--lightBlue);
}
    
.Logo img {
    height: 60px;
    padding: 10px;
}    
    
.Menu {
    padding: 10px 20px 0 20px;
    }

.Form {
    text-align: center;
}
   
.Form div p{
       display: inline;
       color: var(--white);
   }
   
.Form a{
    text-decoration: none;
    cursor: pointer;
    margin: 0 5px;
}

.Spinner {
    padding-top: 5rem;
}

.Oauth {
    text-align: center;
    margin-top: 10px;
}

.Google{
    display: inline-block;
    width: 40px;
    height: 40px;
    background: var(--white);
    border-radius: 50%;
    cursor: pointer;
}

.Google img {
    height: 40px;
    vertical-align: middle;
}

.Facebook{
    display: inline-block;
    width: 40px;
    height: 40px;
    cursor: pointer;
 }

 .Facebook img {
    height: 40px;
    vertical-align: middle; 
 }

@media (max-width: 560px) {
    .container {
        /* display: flex; */
        width: 300px;
        left: calc(50% - 150px);
      }

}

