.Register {
    position: absolute;
    padding: 5% 13%;
    width: 74%;
    right:0px;
  }


.ValidationErrors {
    position: relative;
    margin-top: 0px; 
}

.ValidationErrors p {
    color: var(--red);
    font-size: 13px;
    font-weight: 500
}

.Error {
    color: var(--red);
    font-size: 13px;
    font-weight: 500
}

.HeaderItem {
    display: inline;
    margin: 20px;
    color: var(--red);
    padding-bottom: 3px;
    border-bottom: 3px solid var(--green);
    cursor: pointer;
  }

.container {
      display: block;
      position: relative;
      width: 530px;
      height: 720px;
      margin: auto;
      margin-top: 20px; 
      box-shadow: 0px 0px 0px 1px var(--blue);
      overflow:hidden;
      background-color: var(--darkBlue);
    }

.Logo {
    position: relative;
    text-align: center;
    width: fit-content;
    margin: auto;
    }
    
    .Logo img {
        height: 100px;
        margin-top: 20px;
    }    
    
.Menu {
      position: relative;
      padding: 5% 13% 0 13%;
    }

.Form {
    text-align: center;
}
   
.Form div p{
       display: inline;
       font-weight: 700;
       color: var(--white);
   }
   
.Form a{
       text-decoration: none;
       cursor: pointer;
       
   }
   
.Google{
       height: 50px;
       position: relative;
       top: 15px;
       margin-left: 5px;
       margin-right: 5px;
   }
   
.Facebook{
       height: 40px;
       position: relative;
       top: 10px;
       margin-left: 10px;
   }

@media (max-width: 560px) {
    .container {
        /* display: flex; */
        position: relative;
        width: 98%;
      }

      .Menu {
        position: absolute;
        width: 100%;
      }

      .Register {
        position: absolute;
        padding-top: 20%;
    }
  
    .Logo img {
        height: 80px;
    }  
}

.Spinner {
    padding-top: 5rem;
}