.Container {
    width: 100%;
    background-color: var(--blue);
    z-index: 90;
    position: relative
}

.Toolbar {
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding: 0 16px;
}

.leftNavItems {
    display: flex;
}

.RightNavItems {
    display: flex;
    flex-flow: row;
    align-items: center;
}

.menuItem {
    display: inline-block;
    text-decoration: none;
    font-family: 'PT Sans', sans-serif;
    color: var(--white);
}

.SearchIcon {
    width: 26px;
    height: 26px;
    vertical-align: middle;
    fill:var(--white);
    margin-left: 12px;
    cursor: pointer;
}

.SearchIcon:hover {
    fill: var(--green);
}

.menuItem span {
    display: block;
    font-family: 'PT Sans', sans-serif;
    color: var(--blue);
    padding: 7px;
    background: var(--green);
    border-radius: 8px;
    font-size: small;
    font-weight: 700;
}

.menuItem span:hover {
    background: var(--white);
}

.User {
    height: 28px;
    width: 28px;
    fill: var(--white);
    vertical-align: middle;
}

.User:hover {
    fill: var(--green);
}

.MainNavItems {
    display: flex;
    align-items: center;
}

.sectionMenuText {
    color: var(--white);
    font-size: medium;
    text-decoration: none;
    box-sizing: border-box; 
    display: inline-flex;
    flex-wrap: nowrap;
    align-items: center;
    flex-direction: row;
    font-family: 'PT Sans', sans-serif;
    margin-left: 30px;
    cursor: pointer;
}

.MainNavItem {
    color: var(--white);
    font-size: medium;
    text-decoration: none;
    box-sizing: border-box; 
    display: inline-flex;
    flex-wrap: nowrap;
    align-items: center;
    flex-direction: row;
    font-family: 'PT Sans', sans-serif;
    margin-left: 30px;
    cursor: pointer; 
}

.SectionMenuItems {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    max-width: 600px;
    margin: auto;
    justify-content: flex-start;
}

.SectionMenuItem {
    text-decoration: none;
    padding: 20px;
    color: var(--blue);
    display: block;
    width: 100px;
    font-weight: 700;
    font-family: 'PT Sans', sans-serif;
}

.SectionMenuItem:hover {
    color: var(--green);
}

.viewSaved {
    text-align: right;
    padding: 0 16px 16px 0;
}

.viewSaved a {
    text-decoration: none;
    font-family: 'PT Sans', sans-serif;
    border-radius: 8px;
    display: inline-block;
    padding: 4px;
    background: var(--green);
    color: var(--blue);
    cursor: pointer;
    font-weight: 700;
    border: 2px solid var(--blue);
}

.viewSaved a:hover {
    background: var(--blue);
    color: var(--green)
}

.MainNavItem:hover {
    color: var(--green);
}

.sectionMenuText:hover {
    color: var(--green);
}

.sectionMenuText:hover svg{
    fill: var(--green);
}

.sectionMenuDropIcon {
    fill: var(--white);
    height: 100%;
    width: 20px;
    padding-left: 6px;
}

.LowerToolBar {
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid var(--blue);
    z-index: 200;
    position: relative;
    background: var(--white);
}

.LowerToolBarMenu, /* .LowerToolBar div, */ .lowerToolbarSectionMenuText {
    color: var(--blue);
    font-size: small;
    text-decoration: none;
    box-sizing: border-box; 
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    font-family: 'PT Sans', sans-serif;
    cursor: pointer;
    flex: 0 0 25%;
    max-width: 25%
}

.LowerToolBarMenu:hover {
    color: var(--green);
}

.LowerToolBarMenu:hover svg {
    fill: var(--green);
}

.LowerToolBar div:hover {
    color: var(--green);
}

.LowerToolBar div:hover svg {
    fill: var(--green);
}

.lowerToolbarSectionMenuText:hover {
    color: var(--green);
}

.lowerToolbarSectionMenuText:hover svg{
    fill: var(--green);
}

.LowertoolBarIcon {
    fill: var(--blue);
    width: 20px;
    padding-bottom: 4px;
}

.NavActive {
    color: var(--green);
}

.NavIconActive {
    fill: var(--green);
}

.SectionMenuDrawer {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 50;
    background-color: var(--lightGray);
    box-sizing: border-box;
    transition: transform 0.1s ease-out;
    margin-top: 60px;
}

.Open {
    transform: translateY(0);
}

.Close {
    transform: translateY(-150%);
}

.Backdrop {
    width: 100%;
    position: absolute;
    z-index: 50;
    left: 0;
    top: 0;
    min-height: 100%;
}

@media(max-width: 784px) {

    .MainNavItems {
        display: none;
    }

    .User {
        padding-right: 0;
    }

    .SectionMenuDrawer {
        margin-top: 120px;
    }
}

@media(min-width: 785px) {
    .LowerToolBar {
        display: none
    }
}