.wrapper {
    display: flex;  
    flex-flow: row wrap;
    font-weight: bold;
    text-align: center;
}

.wrapper > * {
    flex: 1 100%;
}
  
.header {
    background: var(--lightestGray);
    margin: 5px 0;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    align-items: center;
    min-height: 50px;
}

.header div {
    margin: 5px;
}

  
.footer {
    background: var(--lightestGray);
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    align-items: center;
    min-height: 100px;
}

.footer div {
    margin: 5px;  
}
  
.main {
    text-align: left;
}
  
.aside1 {
    background: var(--lightestGray);
    /* margin: 0 5px; */
    margin-bottom: 5px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    align-items: flex-start;
}

.aside1 div {
    margin: 5px;
}
  
.aside2 {
    background: var(--lightestGray);
    /* margin: 0 5px; */
    margin-bottom: 5px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    align-items: flex-start;
}

.aside2 div {
    margin: 5px;
}
  

@media all and (min-width: 600px) {
    .aside { flex-basis: 0;
            flex-grow: 1;
            max-width: 100%;
    }
}
  
@media all and (min-width: 1000px) {
    .main  { flex: 0 0 55%; 
        max-width: 55%;
    }
    .aside1 { order: 1;} 
    .main    { order: 2; }
    .aside2 { order: 3; }
    .footer  { order: 4; }
}

@media all and (max-width: 1000px) {
    /*.aside { display: none; }*/
    .aside { flex: 1 auto}

    .aside1 {
        min-height: 100px;
        /* margin: 5px 0; */
    }

    .aside2 {
        display: none;
    }
}
