.wrapper {
    display: flex;  
    flex-flow: column wrap;
    /* font-weight: 700; */
    text-align: center;
}

.HeadBar {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    align-items: center;
    border-bottom: 1px solid var(--gray);
    /* margin-bottom: 8px; */
}

.adFull {
    width: 728px;
    height: 90px;
    background-position-x: center;
    background-position-y: center;
    background-size: cover;
    background-repeat: no-repeat;
    background: url('../../../assets/art/head-art/ad_728X90.png');
    margin: auto;
}

.adMedium {
    width: 320px;
    height: 100px;
    background-position-x: center;
    background-position-y: center;
    background-size: cover;
    background-repeat: no-repeat;
    background: url('../../../assets/art/head-art/ad_320X100.png');
    margin: auto;
}

.HeadBarAdvert, .FootBarAdvert {
    width: 100%;
    margin: 20px auto;
    box-sizing: border-box;
}

.Median {
    display: flex;  
    flex-flow: row wrap;
    /* font-weight: 700; */
    text-align: center; 
}

.Main {
    text-align: left;
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
}

.FootBar {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    align-items: center;
    border-top: 1px solid var(--gray);
    margin-top: 8px;
}

.SideBar {
    width: 300px;
    margin: 0 16px;
}

.sideAd {
    max-height: 620px;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    padding-top: 8px;
    /* padding: 32px 0; */
}

.adFullSide {
    width: 300px;
    height: 600px;
    background-position-x: center;
    background-position-y: center;
    background-size: cover;
    background-repeat: no-repeat;
    background: url('../../../assets/art/head-art/ad_ad300X600.png');
    margin: auto;
}

@media(min-width: 901px) {
    .adMedium {
        display: none;
    }
}

@media all and (max-width: 900px) {

    .main  { flex: 0 0 100%; 
        max-width: 100%;
    }

    .SideBar {
        display: none;
    }

    .adFull {
        display: none;
    }
}

/* @media (max-width: 600px) {
    .HeadBarAdvert {
        text-align: center;
        padding: 0;
    }
} */
