.sectionWrapper {
    width: 100%;
    padding: 0 16px;
    box-sizing: border-box;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}

.popularSection, .latestSection {
    margin-bottom: 16px;
}

.sectionBlogs {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 800px;
    /* padding-right: 16px; */
    padding-top: 16px;
    box-sizing: border-box;
}

.aside {
    width: 320px;
    margin-left: 16px;
}

.topAdBar {
    background: var(--blue);
    border-top: 1px solid var(--gray);
}

.blogPostTopAd {
    width: 100%;
    padding: 16px 0;
}

.blogPostSideAd {
    max-height: 620px;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    padding-top: 10px;
}

.adFull {
    width: 728px;
    height: 90px;
    background-position-x: center;
    background-position-y: center;
    background-size: cover;
    background-repeat: no-repeat;
    background: url('../../assets/art/head-art/ad_728X90.png');
    margin: auto;
}

.adMedium {
    width: 320px;
    height: 100px;
    background-position-x: center;
    background-position-y: center;
    background-size: cover;
    background-repeat: no-repeat;
    background: url('../../assets/art/head-art/ad_320X100.png');
    margin: auto;
}

.adFullSide {
    width: 300px;
    height: 600px;
    background-position-x: center;
    background-position-y: center;
    background-size: cover;
    background-repeat: no-repeat;
    background: url('../../assets/art/head-art/ad_ad300X600.png');
    margin: auto;
}

@media(min-width: 977px) {
    .adMedium {
        display: none;
    }
}

@media(max-width: 976px) {   
    .adFull {
        display: none;
    }
}

@media(max-width: 784px) {

    .topAdBar {
        border-top: none;
    }
}

@media(max-width: 576px) {
    .aside {
        display: none;
    }
}