.NavigationItems {
    margin: 0;
    padding: 30px;
    list-style: none;
    display: flex;
    flex-flow: column-reverse;
    align-items: center;
    height: 100%;
}


@media (min-width: 900px) {
    .NavigationItems {
        flex-flow: row-reverse;
        padding: 0px;
    }
}

.Icon {
    width: 20px;
    height: 20px;
    fill: var(--blue);
}

.MenuName {
    color: var(--blue);
}

@media (max-width: 900px) {
    .DesktopOnly {
        display: none;
    }

    .Icon {
        margin-right: 16px
    }

}