.Icon {
    width: 20px;
    height: 20px;
    fill: var(--blue);
}

.NavActive {
    fill: var(--darkGreen);
}

.MenuName {
    color: var(--blue);
}

@media (max-width: 900px) {

    .Icon {
        margin-right: 16px
    }

}