.Resource {
    margin: 10px 0;
    outline: none;
}

.MainContainer {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    background: var(--lightGray);
    text-decoration: none;
}

.InfoContainer {
    display: -ms-flexbox;
    display: flex;
    flex-flow: column;
    /* background: var(--lightestGray); */
}

.TitleRow {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
    text-align: center;
}

.Hr {
height: 1px;
background: var(--lightGray);
}

.HrContainer {
    padding: 3px 0px;
    background: var(--lightestGray);
}


.Title {
    margin: 0px;
    background-color: var(--lightestGray);
    padding: 15px 40px;
    text-align: left;
    color: var(--darkBlue);
    font-weight: 400;
}

.Source {
    color: var(--darkBlue);
    font-weight: 700;
    padding-left: 40px;
    font-size: x-small;
    text-align: left;
    background: var(--lightestGray);
}

.DetailsContainer {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 5px 0;
    background: var(--lightestGray);
}

.DetailsColumnFlex {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
    text-align: center;
}


.Type {
    color: var(--darkBlue);
    font-weight: 700;
    font-size: x-small;
    text-align: left;
    background: var(--lightestGray);    
}

.Type span {
    color: var(--red);
    padding: 0 10px;

}

.Source span {
    color: var(--red);
    padding: 0 10px;

}
  
.FeedbackRow {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
    text-align: center;
}

.FeedbackContainer {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    /* padding: 5px 0; */
    background: var(--lightestGray);
    border-bottom: 1px solid var(--lightGray);
}

.FeedbackIcons {
    width: 20px;
    vertical-align: bottom;
}

.FeedBackIconDislike {
    width: 30px;
    height: 30px;
    display: inline-block;
    box-sizing: border-box;
    vertical-align: middle;
    cursor: pointer;
    text-align: center;
    font-weight: 400;
    background-image: url('../../assets/images/thumbs-down.svg');
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    background-size: 60%;
}

.FeedBackIconDislike:hover {
    background-image: url('../../assets/images/thumbs-down-focus.svg');
}



.FeedBackIconLike {
 /*    padding: 5px; */
    width: 30px;
    height: 30px;
    display: inline-block;
    box-sizing: border-box;
    vertical-align: middle;
    cursor: pointer;
    text-align: center;
    font-weight: 400;
    background-image: url('../../assets/images/thumbs-up.svg');
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    background-size: 60%;
}

.FeedBackIconLike:hover {
    /* background-color: var(--red); */
    background-image: url('../../assets/images/thumbs-up-focus.svg');
}

.FeedBackIconCollect {
    width: 30px;
    height: 30px;
    display: inline-block;
    box-sizing: border-box;
    vertical-align: middle;
    cursor: pointer;
    text-align: center;
    font-weight: 400;
    background-image: url('../../assets/images/file-import.svg');
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    background-size: 60%;
}

.FeedBackIconCollect:hover {
    background-image: url('../../assets/images/file-import-focus.svg');
}

.FeedbackText {
    font-size: small;
    color: var(--darkBlue);
}


.InfoColumn {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
    text-align: center;
}

.ImgColumn {
    width: 70px;
    text-align: center;
    margin: auto; 
}

.ResourceImg {
    width: 70px;
    vertical-align: top;
    padding: 5px;
    box-sizing: border-box;
}

/* .FeedbackIcons {
    width: 20px;
    vertical-align: bottom;
} */

.Options {
    text-align: right;
    padding: 5px 10px;
    background: var(--lightestGray);
}

@media all and (max-width: 480px) {
    .Type {
        padding-left: 40px;    
    }
}

@media all and (max-width: 292px) {
    .Options {
        padding: 0px;
    }
}