.Resource {
    margin-bottom: 10px;
    outline: none;
    box-shadow: 1px 0px 6px 0px var(--lightGray);
}

.MainContainer {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    background: var(--white);
    text-decoration: none;
}

.InfoContainer {
    display: -ms-flexbox;
    display: flex;
    flex-flow: column;
    /* border-bottom: 1px solid var(--lightGray); */
    /* background: var(--lightestGray); */
}

.InfoColumn {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
    text-align: center;
}

.TitleRow {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
    text-align: center;
}

/* .Hr {
height: 1px;
background: var(--lightGray);
}

.HrContainer {
    padding: 3px 0px;
    background: var(--lightestGray);
} */


.Title {
    margin: 0px;
    background-color: var(--white);
    padding: 15px 40px;
    text-align: left;
    color: var(--darkBlue);
    font-weight: 400;
}

.Title:hover {
    text-decoration: underline;
    text-decoration-color: var(--darkBlue);
}

/* .Source {
    color: var(--darkBlue);
    font-weight: 700;
    padding-left: 40px;
    font-size: x-small;
    text-align: right;
}

.Source span {
    color: var(--red);
    padding: 0 10px;

} */

.DetailsContainer {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 5px 0;
    background: var(--white);
}

.ImgColumn {
    width: 100px;
    text-align: center;
    margin: auto; 
}

.ResourceImg {
    width: 100px;
    vertical-align: top;
    padding: 5px;
    box-sizing: border-box;
}

.DetailsColumnFlex {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
    text-align: center;
}


.Type {
    color: var(--darkBlue);
    font-weight: 700;
    font-size: x-small;
    text-align: left;
    padding-left: 40px;
}

.Type span {
    color: var(--red);
    padding: 0 10px;

}
  
.FeedbackRow {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
    text-align: center;
}

.FeedbackContainer {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    background: var(--white);
    border-bottom: 1px solid var(--lightGray);
    border-top: 1px solid var(--lightGray);
}

.FeedbackIcons {
    width: 20px;
    vertical-align: bottom;
}

.FeedBackIconLike {
    width: 30px;
    height: 30px;
    display: inline-block;
    box-sizing: border-box;
    vertical-align: middle;
    cursor: pointer;
    text-align: center;
    font-weight: 400;
    background-image: url('../../assets/images/thumbs-up.svg');
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    background-size: 60%;
}

.FeedBackIconLike:hover {
    background-image: url('../../assets/images/thumbs-up-focus.svg');
}

.FeedBackIconCollect {
    width: 30px;
    height: 30px;
    display: inline-block;
    box-sizing: border-box;
    vertical-align: middle;
    cursor: pointer;
    text-align: center;
    font-weight: 400;
    background-image: url('../../assets/images/file-import.svg');
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    background-size: 60%;
}

.FeedBackIconCollect:hover {
    background-image: url('../../assets/images/file-import-focus.svg');
}

.FeedbackText {
    font-size: small;
    color: var(--darkBlue);
}


.InfoColumn {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
    text-align: center;
}

.Options {
    text-align: right;
    padding: 5px 10px;
}

@media all and (max-width: 480px) {
    .Type {
        padding-left: 10px;    
    }

    .Title {
        padding: 10px;
    }

    .Source {
        padding-left: 10px;
    }

    .ImgColumn {
        width: 80px;
    }

    .ResourceImg {
        width: 80px;
    }
}

@media all and (max-width: 292px) {
    .Options {
        padding: 0px;
    }
}

.FeedbackIcons {
    width: 20px;
    vertical-align: bottom;
}