.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 600;
    background: var(--blue);
    width: 100%;
    min-height: 100vh;
}

.gradientBack {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    min-height: 100vh;
    max-width: 600px;
    z-index: 650;
    background: linear-gradient(0deg, var(--blue), var(--lightBlue) );
}

.headerContainer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    /* border: 2px solid var(--white); */
    box-sizing: border-box;
    z-index: 750;
}

.header {
    max-width: 600px;
    border-bottom: 2px solid var(--blue);
    background: var(--lightBlue);
    margin: 0 auto;
    height: 100%;
    display: flex;
    flex-flow: row nowrap;
    box-sizing: border-box;
}

.homeIcon {
    width: 64px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.homeIcon svg {
    width: 32px;
    fill: var(--blue);
}

.helloUser {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
}

.helloUser span {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    color: var(--white);
    height: 35px;
    margin: auto 0;
    font-weight: 700;
    font-size: 16px;
    box-sizing: border-box;
}

.helloUser div {
    display: flex;
    box-sizing: border-box;
    height: 65px;
    align-items: center;
    text-align: right;
    justify-content: flex-end;
    font-size: 18px;
    font-weight: 700;
    overflow: hidden;
    color: var(--green);
}

.helloUser h2 {
    display: flex;
    box-sizing: border-box;
    height: 100%;
    margin: 0;
    align-items: center;
    text-align: right;
    justify-content: flex-end;
    font-size: 16px;
    font-weight: 700;
    overflow: hidden;
    color: var(--white);
}

.userOrLoginIcon {
    width: 80px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.userProfile {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    width: 48px;
    height: 48px;
    border-radius: 24px;
    background: var(--green);
}

.login {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    width: 48px;
    height: 48px;
}

.userOrLoginIcon a:hover svg {
    fill: var(--white);
}

.userProfile:hover {
    background: none;
}

.userProfile svg {
    width: 42px;
    fill: var(--blue);
}

.login svg {
    width: 40px;
    fill: var(--green);
}

.mainContainer {
    width: 100%;
    position: absolute;
    z-index: 700;
    top: 100px;
}

.body {
    max-width: 600px;
    margin: 0 auto;
    padding: 0 16px;
    box-sizing: border-box;
}

.logoWork {
    height: 100px;
    width: 100%;
    position: relative;
}

.logoAnimated {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    max-width: 266px;
    margin: auto;
}

.logoAnimated svg {
    width: 100%;
} 

.homeLogoInitialStroke path:nth-child(10) {
    stroke-dasharray: 46;
    stroke-dashoffset: 0;
    animation: line-anim-s1 1s ease forwards;
    fill: transparent;
    stroke: var(--green);
    stroke-width: 3;
    stroke-linecap: round;
    stroke-miterlimit: 10;
}

.homeLogoInitialStroke path:nth-child(9) {
    stroke-dasharray: 146;
    stroke-dashoffset: 0;
    animation: line-anim-s2 1s ease forwards 0.2s;
    fill: transparent;
    stroke: var(--green);
    stroke-width: 3;
    stroke-linecap: round;
    stroke-miterlimit: 10;
}

.homeLogoInitialStroke path:nth-child(8) {
    stroke-dasharray: 214;
    stroke-dashoffset: 0;
    animation: line-anim-e1 1s ease forwards 0.4s;
    fill: transparent;
    stroke: var(--green);
    stroke-width: 3;
    stroke-linecap: round;
    stroke-miterlimit: 10;
}

.homeLogoInitialStroke path:nth-child(7) {
    stroke-dasharray: 116;
    stroke-dashoffset: 0;
    animation: line-anim-l 1s ease forwards 0.6s;
    fill: transparent;
    stroke: var(--green);
    stroke-width: 3;
    stroke-linecap: round;
    stroke-miterlimit: 10;
}

.homeLogoInitialStroke path:nth-child(6) {
    stroke-dasharray: 171;
    stroke-dashoffset: 0;
    animation: line-anim-f 1s ease forwards 0.8s;
    fill: transparent;
    stroke: var(--green);
    stroke-width: 3;
    stroke-linecap: round;
    stroke-miterlimit: 10;
}

.homeLogoInitialStroke path:nth-child(5) {
    stroke-dasharray: 228;
    stroke-dashoffset: 0;
    animation: line-anim-p 1s ease forwards 1s;
    fill: transparent;
    stroke: var(--green);
    stroke-width: 3;
    stroke-linecap: round;
    stroke-miterlimit: 10;
}

.homeLogoInitialStroke path:nth-child(4) {
    stroke-dasharray: 195;
    stroke-dashoffset: 0;
    animation: line-anim-a 1s ease forwards 1.2s;
    fill: transparent;
    stroke: var(--green);
    stroke-width: 3;
    stroke-linecap: round;
    stroke-miterlimit: 10;
}

.homeLogoInitialStroke path:nth-child(3) {
    stroke-dasharray: 140;
    stroke-dashoffset: 0;
    animation: line-anim-c 1s ease forwards 1.4s;
    fill: transparent;
    stroke: var(--green);
    stroke-width: 3;
    stroke-linecap: round;
    stroke-miterlimit: 10;
}

.homeLogoInitialStroke path:nth-child(2) {
    stroke-dasharray: 214;
    stroke-dashoffset: 0;
    animation: line-anim-e2 1s ease forwards 1.6s;
    fill: transparent;
    stroke: var(--green);
    stroke-width: 3;
    stroke-linecap: round;
    stroke-miterlimit: 10;
}

.homeLogoInitialStroke path:nth-child(1) {
    stroke-dasharray: 107;
    stroke-dashoffset: 0;
    animation: line-anim-r 1s ease forwards 1.8s;
    fill: transparent;
    stroke: var(--green);
    stroke-width: 3;
    stroke-linecap: round;
    stroke-miterlimit: 10;
}

.logoGoal {
    fill: var(--green);
    transform: translateX(150px); 
    opacity: 0;
    animation: powerSlide 0.8s ease forwards 2s;
}

.logoHead {
    fill: var(--blue);
    transform: translateY(5px); 
    opacity: 0;
    animation: headSlideUp 0.4s ease forwards 2.8s;
}

.Motto {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 54px;
    left: 100px;
    right: 0;
    bottom: 0;
    max-width: 266px;
    margin: auto;
    color: var(--green);
    animation: headSlideUp 0.4s ease forwards 2.8s;
    opacity: 0;
}

.inspireBoard {
    border-radius: 16px;
    background: var(--lightGray);
    padding: 16px 16px 0;;
    border: 2px solid var(--blue);
}

.date {
    color: var(--blue);
    font-size: 14px;
    font-weight: 700;
    padding-bottom: 8px;
    border-bottom: 1px solid var(--white);
}

.inspireText {
    color: var(--blue);
    font-size: 18px;
    padding: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: capitalize;
}

.homeButton {
    /* outline: none; */
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    width: 136px;
    height: 48px;
    border-radius: 24px;
    display: inline-flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    background: var(--green);
    font-weight: 700;
    font-size: 18px;
    cursor: pointer;
}

.homeButton:hover {
    background: var(--lightGray);
}

.exploreBlock {
    margin-top: 16px;
    text-align: right;
}

.explore {
    display: flex;
    flex-flow: row nowrap;
    height: 32px;
    align-items: center;
}

.explore span {
    display: inline-block;
    width: 88px;
    text-align: center;
    color: var(--blue);
    font-family: 'Nunito', Arial, Helvetica, sans-serif;
}

.explore svg {
    fill: var(--blue);
    width: 32px;
    height: 32px;
}

.actionCard {
    padding: 16px;
    margin-top: 16px;
    background: var(--white);
    border-radius: 16px;
    display: flex;
    /* flex-flow: row nowrap; */
    flex-flow: column-reverse nowrap;
    border: 2px solid var(--blue);
}

.action {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.actionText {
    color: var(--blue);
    font-size: 20px;
    /* margin: 16px 0; */
    margin: 16px;
    font-weight: 700;
    text-align: left;
}

.actionButton {
    /* text-align: left; */
    text-align: center;
    margin-top: 16px;
}

.actionArt {
    margin-left: 16px;
    /* width: 120px; */
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.actionArt svg {
    width: 100%;
    height: 100%;
}

.footer {
    max-width: 600px;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 16px;
    width: 100%;
    margin-top: 32px;
    border-top: 1px solid var(--lightBlue);
}

.footerItems {
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-end;
    justify-content: space-between;
}

.textItems {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
}

.copyright {
    color: var(--green);
    white-space: nowrap;
}

.copyright span {
    padding-right: 8px;
}

.contracts {
    font-weight: 700;    
}

.contracts a {
    display: inline-block;
    padding-right: 8px;
    white-space: nowrap;
    text-decoration: none;
    color: var(--lightBlue);
}

.contracts a:hover {
    color: var(--green);
}

.socialLinks {
    width: 72px;
    height: 32px;
    display: flex;
    flex-flow: row nowrap;
}

.socialLinks a {
    /* outline: none; */
    border: none;
    border-radius: 0;
    padding: 0;
    background: var(--blue);
    width: 32px;
    height: 32px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.socialLinks button:last-of-type {
    margin-left: 8px;
}

.socialLinks button:hover svg {
    fill: var(--green);
}

.socialLinks svg {
    height: 20px;
    fill: var(--lightBlue);
    vertical-align: middle;
}

@keyframes line-anim-s1 {
    to {
        stroke-dashoffset: 46;
    }

    80% {
        fill: transparent;
    }
    100% {
        fill: var(--blue)
    }
}

@keyframes line-anim-s2 {
    to {
        stroke-dashoffset: 146;
    }

    80% {
        fill: transparent;
    }
    100% {
        fill: var(--blue)
    }
}

@keyframes line-anim-e1 {
    to {
        stroke-dashoffset: 214;
    }
    80% {
        fill: transparent;
    }
    100% {
        fill: var(--blue)
    }
}

@keyframes line-anim-l {
    to {
        stroke-dashoffset: 116;
    }
    80% {
        fill: transparent;
    }
    100% {
        fill: var(--blue)
    }
}

@keyframes line-anim-f {
    to {
        stroke-dashoffset: 171;
    }
    80% {
        fill: transparent;
    }
    100% {
        fill: var(--blue)
    }
}

@keyframes line-anim-p {
    to {
        stroke-dashoffset: 228;
    }
    80% {
        fill: transparent;
    }
    100% {
        fill: var(--blue)
    }
}

@keyframes line-anim-a {
    to {
        stroke-dashoffset: 195;
    }
    80% {
        fill: transparent;
    }
    100% {
        fill: var(--blue)
    }
}

@keyframes line-anim-c {
    to {
        stroke-dashoffset: 140;
    }
    80% {
        fill: transparent;
    }
    100% {
        fill: var(--blue)
    }
}

@keyframes line-anim-e2 {
    to {
        stroke-dashoffset: 214;
    }
    80% {
        fill: transparent;
    }
    100% {
        fill: var(--blue)
    }
}

@keyframes line-anim-r {
    to {
        stroke-dashoffset: 107;
    }
    80% {
        fill: transparent;
    }
    100% {
        fill: var(--blue)
    }
}

@keyframes powerSlide {
    0% {
      transform: translateX(150px);
      opacity: 0;
    }
    100% {
      transform: translateX(0px);
      opacity: 1;
    }
}

@keyframes headSlideUp {
    0% {
        transform: translateY(5px);
        opacity: 0
    }
    100% {
        transform: translateY(0px);
        opacity: 1;
    }

}