.Footer {
    background-color: var(--darkestBlue);
  }
  
.Footer .Copyright {
  overflow: hidden;
  min-height: 30px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px 0px;
  color: var(--green);
}

.Container {
  margin: 0 auto;
}

.Container a {
  text-decoration: none;
  color: var(--green);
  } 

.Container a span {
  text-decoration-line: underline;
  color: var(--lightBlue);
  padding-left: 5px;
  } 


@media only screen and (min-width: 550px) {
  .SocialLinks {
    float: right !important;
  }
}

.SocialLinks {
  text-align: center;
  display: block;
  float: none;
  color: var(--lightBlue);
}

@media (max-width: 550px) {
  .Container {
    text-align: center;
  }

}

@media (max-width: 875px) {
  .Footer {
    padding: 0 16px;
  }
}