.footer {
  background-color: var(--blue);
  box-sizing: border-box;
  padding: 16px;
  width: 100%;
}

/* .footer {
  box-sizing: border-box;
  padding: 16px 0;
  width: 100%;
} */

.footerItems {
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-end;
  justify-content: space-between;
}

.textItems {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%;
}

.copyright {
  color: var(--green);
  white-space: nowrap;
}

.copyright span {
  padding-right: 8px;
}

.contracts {
  font-weight: 700;    
}

.contracts a {
  display: inline-block;
  padding-right: 8px;
  white-space: nowrap;
  text-decoration: none;
  color: var(--lightBlue);
}

.contracts a:hover {
  color: var(--green);
}

.socialLinks {
  width: 72px;
  height: 32px;
  display: flex;
  flex-flow: row nowrap;
}

.socialLinks a {
  outline: none;
  border: none;
  border-radius: 0;
  padding: 0;
  background: var(--blue);
  width: 32px;
  height: 32px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.socialLinks button:last-of-type {
  margin-left: 8px;
}

.socialLinks button:hover svg {
  fill: var(--green);
}

.socialLinks svg {
  height: 20px;
  fill: var(--lightBlue);
  vertical-align: middle;
}

/* .Copyright a {
  text-decoration: none;
  color: var(--green);
  font-weight: 700;
  } 

.Copyright a span {
  text-decoration-line: underline;
  color: var(--green);
  padding-left: 5px;
} 

.SocialLinks {
  text-align: center;
  display: block;
  float: none;
  color: var(--green);
}

@media (max-width: 600px) {
  .Container {
    text-align: center;
    flex-flow: column-reverse;
    justify-content: center;
  }

  .SocialLinks {
    margin: 0;
  }
} */