.Footer {
  /* padding: 20px 0px; */
  color: var(--green);
  background-color: var(--blue);
  padding: 0 16px;
}

.Container {
  margin: 0 auto;
  padding: 32px 0;
  font-weight: bold;
  display: flex;
  justify-content: space-between
}

.Copyright a {
  text-decoration: none;
  color: var(--green);
  font-weight: bold;
  } 

.Copyright a span {
  text-decoration-line: underline;
  color: var(--green);
  padding-left: 5px;
} 

.SocialLinks {
  text-align: center;
  display: block;
  float: none;
  color: var(--green);
  /* margin-right: 48px; */
}

@media (max-width: 600px) {
  .Container {
    text-align: center;
    flex-flow: column-reverse;
    justify-content: center;
  }

  .SocialLinks {
    margin: 0;
  }
}