.ContainerItem {
    max-width: 500px;
    margin: auto;
}

.navigation {
    list-style: none;
    margin: 0;
    padding: 10px 0px; 
    
    background: none;
    padding-inline-start: 0px;
    border-bottom: 2px solid var(--blue); 
    
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    
    flex-flow: row wrap;
    justify-content: center;
}

.File {
    text-decoration: none;
    display: block;
    padding: .5em 1em;
    color: var(--blue);
    font-weight: 400;
    border: 2px solid var(--blue);
    border-radius: 20px;
    margin: 5px 5px;
}

.Web {
    text-decoration: none;
    display: block;
    padding: .5em 1em;
    color: var(--blue);
    font-weight: 400;
    border: 2px solid var(--blue);
    border-radius: 20px;
    margin: 5px 5px;
}

.Active {
    background: var(--blue);
    color: var(--white);
}

.navigation li:hover {
    background-color: var(--blue);
    color: var(--white);
    cursor: pointer;
}

.DialogueMessage {
    text-align: center;
}

.fileInput {
    color: var(--white);
    display: block;
    margin: auto;
}

.embedButton {
    border-style: none;
    display: inline-block;
    padding: 10px;
    cursor: pointer;
    margin-top: 10%;
    border-radius: 25px;
    font-weight: 700;
    transition: all 0.5s ease;
    color: var(--blue);
    border: 2px solid var(--green);
    margin: 0 0 10px 0;
}

.embedButton:hover {
    background: var(--green);
}

/* .DialogueMessage form {
    margin: 5px;
}

.DialogueMessage Button {
    margin: 0 0 10px 0;
    border: 2px solid var(--green);
} */