
.AddFeedbackInfo {
    color: var(--green);
    font-weight: 400;
    padding: 5px;
    font-size: small;
    display: inline;
}

.ErrorFeedbackInfo {
    color: var(--red);
    padding: 5px;
    font-size: small;
    display: inline;
}

.ContentItems {
    padding: 10px;
    /* background: var(--green);  */
    padding-bottom: 10px;
}

.ContainerItem {
    padding: 5px;
    text-align: center;
    max-width: 400px;
    margin: auto;
}

/* .ContainerItem span {
    display: none;
} */

.ContainerItem button {
 font-size: small;
 width: 120px;
 height: 50px;
 border-radius: 25px;
 padding: 0;
}

/* */

.OuterContainer {
    background: var(--blue);
    padding: 20px;
    border-radius: 20px;
    margin: 10px;  
}

.OuterContainer form {
    background: var(--blue);
    padding: 0;
    margin: 0;
    border-radius: 0;
}

.OuterContainer label {
    margin-top: 0px;
    font-weight: 400;
    font-size: small;
}

.Notype {
    padding-top: 20px;
    color: var(--green);
    font-weight: 400;
}

.FootNote {
    color: var(--darkBlue);
    font-size: small;
    font-weight: 700;
    text-align: left;
    padding: 15px;
    /* background: var(--skyBlue); */
    background: var(--green);
    border-radius: 0 0 15px 15px;
    /* line-height: 16px; */
}

/* */